@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/link-ctas-group-widget";

@import "partials/footer";

/* END: Partials */


.about-page {

  .banner-widget {
    margin-bottom: 60px;
  }

  .text-content-widget {
    margin-top: -180px;
    position: relative;
    margin-bottom: 60px;

    h1 {
      + p {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 100px 88px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }
    }

    p {
      font-size: 18px;
    }
  }

  .bottom-pattern {

    width: 100%;
    height: 600px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    bottom: 0px;

    &:after {
      content: '';
      display: block;
      background: url(../img/about-pattern-brown.svg);
      background-repeat: no-repeat;
      background-position: top left;
      width: 350px;
      height: 600px;
      position: absolute;
      right: -100px;
      transform: rotate(10deg);
      bottom: -100px;
    }

    @media (max-width:640px)
    {
        display: none;
    }
  }

  @media (max-width:640px)
  {
      .text-content-widget {
        margin-bottom: 40px;
      }
  }
}

