@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/

@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";

/* END: Libs */

@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-grey-border-theme";

/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/tab-links-widget";
@import "partials/become-partner-widget";
@import "partials/form-message-popup.scss";
@import "partials/text-content-widget";

@import "partials/footer";

/* END: Partials */


.become-partner-page {

  .banner-widget {

    .banner {
      .overlay {
        /*top: 55%;
        transform: translateY(-50%);*/
        bottom: 40px;
        max-width: 790px;

        p {
          font-size: 16px;
          line-height: 1.69;
          color: #1b204c;
          background: transparent;
          box-shadow: none;
          border-radius: 0px;
        }
      }
    }
  }

  .tab-links-widget {
    margin-bottom: 60px;
  }

  @media (max-width:900px)
  {
      .tab-links-widget {
        margin-bottom: 30px;
      }
  }
}
