@import 'partials/reset';
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import 'partials/common';
@import 'partials/header';

@import 'partials/text-content-widget';

@import 'partials/footer';

/* END: Partials */

.content-page {
    .text-content-widget {
        margin-top: 50px;

        h1 {
            font-size: 34px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 26px;
        }

        p {
            + h2 {
                margin-top: 50px;
            }

            + h5,
            + h6 {
                margin-top: 40px;
            }
        }

        @media (max-width: 640px) {
            margin-top: 30px;

            p {
                + h2,
                + h3,
                + h4,
                + h5,
                + h6 {
                    margin-top: 30px;
                }
            }
        }
    }
}
