@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/tab-links-widget";
@import "partials/history-widget";

@import "partials/footer";

/* END: Partials */

.history-page {
  .banner-widget {
    margin-bottom: 0px;
  }
}

