@import "partials/reset";
/* START: Libs */
@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-default-theme";
@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/swiper";
@import "partials/enquiry-form-widget";
@import "partials/form-message-popup";
@import "partials/text-content-widget";
@import "partials/need-accordions-widget";
@import "partials/footer";
/* END: Partials */

.iot-page {
  .section-title {
    h3 {
      color: #27284a;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.15;
      margin-bottom: 15px;
      padding-top: 20px;
      text-transform: uppercase;
    }
  }

  .section-link-arrow {
    padding-right: 35px;

    a {
      color: #27284a;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px;
      position: relative;

      &:after {
        content: '';
        background-image: url('../img/arrow_back_ios_24px.svg');
        background-size: 18px;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        bottom: 2px;
        right: -35px;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
      }

      &:hover {
        &:after {
          right: -40px;
        }
      }
    }
  }

  .slider_section {
    width: 100%;

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-container-3d {
      -webkit-perspective: none !important;
      perspective: none !important;
    }

    .item_slider {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      height: 540px;

      .overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 100px 0;

        .title {
          h3 {
            color: #ffffff;
            font-size: 52px;
            font-weight: 700;
            line-height: 1.1;
          }
        }

        .content {
          width: 60%;

          p {
            color: #ffffff;
            font-size: 16px;
            line-height: 1.4;
          }
        }
      }
    }

    .navigation_overlay {
      position: relative;
      height: 100px;
      margin-top: -100px;
      z-index: 10;

      .slider-button-prev, .slider-button-next {
        background-image: url('../img/arrow_back_ios_24px_white.svg');
        background-size: 18px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        width: 32px;
        height: 32px;
        border: 1px solid #ffffff;
      }

      .slider-button-prev {
        left: 0;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      .slider-button-next {
        left: 44px;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
      }
    }
  }

  .section_content {
    .columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .column_left {
        width: 60%;/*55%*/
      }

      .column_right {
        width: 40%;
        max-width: 400px;/*475px*/
      }
    }
  }

  .section_services {
    .section_content {
      background-color: #e9eaef;
      margin: 30px 0;
      padding: 25px 0 45px;

      .items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .item {
          width: 45%;
          padding: 35px 40px 45px 0;
          background-repeat: no-repeat;
          background-position: 90% 90%;
          background-size: 43% 75%;

          .title {
            h5 {
              color: #27284a;
              font-size: 28px;
              font-weight: 700;
              line-height: 1.4;
            }
          }

          .content {
            p {
              color: #27284a;
              font-size: 16px;
              font-weight: 300;
              line-height: 1.4;
              padding: 0 15% 0 0;
            }
          }
        }
      }
    }
  }

  .section_areas {
    .section_content {
      margin: 30px 0;

      .items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .item {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 100% 50%;
          width: calc(50% - 15px);
          margin: 0 0 30px 0;
          position: relative;
          overflow: hidden;

          .content {
            background-color: #e9eaef;
            width: 75%;
            height: 100%;
            padding: 60px;
            -webkit-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;
            opacity: 1;

            .title {
              h5 {
                color: #27284a;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.4;
                text-transform: uppercase;
              }
            }

            .list {
              ul {
                li {
                  color: #27284a;
                  margin-left: 16px;
                }
              }
            }
          }

          .link {
            background: #e9eaef;
            background: -o-linear-gradient(340deg, rgba(233, 234, 239, 1) 30%, rgba(233, 234, 239, 0) 65%);
            background: linear-gradient(110deg, rgba(233, 234, 239, 1) 30%, rgba(233, 234, 239, 0) 65%);
            position: absolute;
            top: 0;
            left: -100%;
            opacity: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 80%;
            height: 100%;
            padding-left: 60px;
            -webkit-transition: all 1.2s ease;
            -o-transition: all 1.2s ease;
            transition: all 1.2s ease;

            a {
              font-size: 24px;
              line-height: 1;
              text-transform: uppercase;
            }
          }

          &:hover {
            .content {
              opacity: 0;
            }

            .link {
              left: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .text-content-widget {
    margin: 30px auto;

    .content {
      max-width: none;

      p {
        color: #27284a;
        line-height: 1.63;
        max-width: none;
      }
    }
  }

  /*.enquiry-form-widget {
    background-color: #dedfef;
    padding: 38px 40px 32px;

    h5 {
      color: #27284a;
      font-weight: 600;
    }

    .form-field {
      border-bottom: 2px solid #27284a;
    }

    .form-button {
      margin: 0;
    }

    input[type=text], input[type=email], input[type=search], select, textarea {
      color: #27284a;
      padding: 14px 14px 14px 0;

      &::placeholder {
        color: #27284a;
      }
    }

    button, input[type=submit] {
      background-color: #27284a;
      border-radius: 0;
      color: #ffffff;
      font-size: 18px;
      padding: 18px;
    }
  }*/

  /*.select2-container--default {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          background-image: url('../img/arrow_back_ios_24px.svg');
          background-size: 10px;
        }
      }
    }

    .select2-selection--multiple {
      &:after {
        background-image: url('../img/arrow_back_ios_24px.svg');
        background-size: 10px;
      }
    }

    .select2-search--inline {
      .select2-search__field {
        color: #27284a;
        padding: 14px 14px 14px 0;

        &::placeholder {
          color: #27284a;
        }
      }
    }
  }

  .select2-container {
    .select2-selection--single {
      .select2-selection__rendered {
        color: #27284a;
        padding: 14px 14px 14px 0;
      }
    }
  }*/

  .need-accordions-widget {
    margin: 30px auto 40px;

    .item {
      &:before {
        background: none;
      }

      .title {
        h5 {
          color: #27284a;
        }

        &:after {
          background-image: url('../img/arrow_back_ios_24px.svg');
          background-size: 24px;
          width: 24px;
          height: 24px;
        }
      }

      .content {
        p {
          color: #27284a;
        }
      }

      &.expand {
        .content {
          padding-bottom: 0;
        }
      }
    }

    &.maritime {
      .item {
        &:nth-child(1) {
          background-color: #e9eaef;
        }

        &:nth-child(2) {
          background-color: #9394a5;
        }

        &:nth-child(3) {
          background-color: #5d5e77;
        }

        &:nth-child(4) {
          background-color: #27284a;
        }

        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          .title {
            h5 {
              color: #ffffff;
            }

            &:after {
              background-image: url('../img/arrow_back_ios_24px_white.svg');
            }
          }

          .content {
            p {
              color: #ffffff;
            }
          }
        }
      }
    }

    &.in_land {
      .item {
        &:nth-child(1) {
          background-color: #f8f4ee;
        }

        &:nth-child(2) {
          background-color: #e8e3db;
        }

        &:nth-child(3) {
          background-color: #cec8bf;
        }

        &:nth-child(4) {
          background-color: #b8b1a6;
        }
      }
    }
  }

  @media (max-width: 1220px) {
    .slider_section {
      .item_slider {
        .overlay {
          padding: 100px 20px;
        }
      }

      .navigation_overlay {
        .slider-button-prev {
          left: 20px;
        }

        .slider-button-next {
          left: 64px;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .section-title {
      h3 {
        font-size: 32px;
      }
    }

    .section_content {
      .columns {
        flex-direction: column;
        align-items: center;

        .column_left {
          width: 100%;
        }

        .column_right {
          width: 100%;
          max-width: 700px;/*475px*/
        }
      }
    }

    .section_services {
      .section_content {
        .items {
          .item {
            width: 100%;
            padding: 15px 0;

            .content {
              p {
                padding: 0 10% 0 0;
              }
            }
          }
        }
      }
    }

    .section_areas {
      .section_content {
        .items {
          .item {
            width: 100%;
          }
        }
      }
    }

  }

}