@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/

@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";

/* END: Libs */

@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-medium-theme";

/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/tab-links-widget";
@import "partials/vacancies-widget";
@import "partials/text-content-widget";
@import "partials/form-message-popup.scss";

@import "partials/footer";

/* END: Partials */


.join-our-team-page {

  .banner-widget {

    .banner {
      .overlay {
        /*top: 55%;
        transform: translateY(-50%);*/

        bottom: 40px;

        p {
          font-size: 16px;
          line-height: 1.69;
          color: #1b204c;
          background: transparent;
          box-shadow: none;
          border-radius: 0px;
        }
      }
    }
  }

  .tab-links-widget {
    margin-bottom: 60px;
  }

  @media (max-width:900px)
  {
      .tab-links-widget {
        margin-bottom: 30px;
      }
  }
}
