@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";

/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/tab-links-widget";
@import "partials/text-content-widget";
@import "partials/board-members-widget";


@import "partials/footer";

/* END: Partials */

.management-board-page {
  .banner-widget {
    margin-bottom: 0px;
  }

  .text-content-widget {
    h3 {
      max-width: 440px;
    }
  }
}

