@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/maritime-services-widget";

@import "partials/footer";

/* END: Partials */


.maritime-page {

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../img/particles-pattern-vertical.svg);
    background-position: top 100px right 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;
    background-size: 1150px;
  }

  .text-content-widget {
    margin-top: -170px;
    position: relative;
    margin-bottom: 80px;

    h1 {
      + p {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 100px 88px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }
    }
  }

  .banner-widget {
    margin-bottom: 60px;
  }

  .maritime-services-widget
  {

  }

  @media (max-width:640px)
  {
      .text-content-widget {
        margin-bottom: 40px;
      }
  }
}

