@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/text-content-widget";
@import "partials/news-event-detail-widget";
@import "partials/news-widget";

@import "partials/footer";

/* END: Partials */


.news-event-detail-page {

  .back-link {
    padding: 0px 20px 0px 35px;
    background-image: url(../img/grey-solid-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 14px;
    background-size: 6px;
    border-radius: 3px;
    background-color: #dedeef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #1b204c;
    margin-top: 17px;
    margin-bottom: 40px;
    display: inline-block;
    transition: all 250ms ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .news-widget {
    margin-bottom: 0px;
    .wrapper {
      padding-top: 30px;
      padding-bottom: 50px;
      background-color: #f9f9fa;
      //background-image: linear-gradient(to bottom, #ededf2, rgba(0,0,0,0));
    }
  }


  .return_back_container {
    position: relative;
  }
  .lang_sel_div {
      display: inline-block;
      position: absolute;
      right: 0;
      z-index: 99;
      border: 1px solid #ced0e5;
      background-color: #f1f1f3;
      border-radius: 2px;
      padding: 7px 30px 7px 6px;
      margin-top: 20px;
      .lang_sel_box_link {
        img {
          display: block;
          width: 30px;
          height: 20px;
        }
        &:after {
          content: "";
          background-image: url(../img/grey-solid-arrow-down.svg);
          border: 0px none;
          width: 10px;
          height: 36px;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 250ms ease;
          position: absolute;
          top: 0px;
          right: 10px;
        }
      }
      &.hide {
        display: none;
      }

      @media (max-width:640px)
      {
          right: 10px;
          margin-top: 10px;
      }
    }


    .langs_list_div {
      display: none;
      position: absolute;
      right: 0;
      z-index: 99;
      border: 1px solid #ced0e5;
      background-color: #f1f1f3;
      border-radius: 2px;
      padding: 8px 34px 16px 10px;
      margin-top: 20px;
      &.show {
        display: inline-block;
      }
      &:after {
        /*content: "";
        background-image: url(../img/grey-solid-arrow-down.svg);
        border: 0px none;
        width: 10px;
        height: 36px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 250ms ease;
        position: absolute;
        top: 5px;
        right: 5px;

        display: block;
        transform: rotate(180deg);*/
      }

      .close_box {
        .close_link {
              position: absolute;
              right: 3px;
              top: 0;
          &:after {
            content: "";
              background-image: url(../img/grey-solid-arrow-down.svg);
              border: 0px none;
              width: 10px;
              height: 36px;
              background-position: center;
              background-repeat: no-repeat;
              transition: all 250ms ease;
              position: absolute;
              top: 5px;
              right: 5px;
              display: block;
              transform: rotate(180deg);
              cursor: pointer;
          }
        }
      }


      @media (max-width:640px)
      {
          right: 10px;
          margin-top: 10px;
      }

    }

    .lang_links_div {
      .lang_link_wrap {
        padding: 15px 20px;
        .flag_img {
          margin-top: -7px;
          float: left;
          img {
            width: 28px;
            height: 18px;
          }
        }
        .switch_text {
          float: left;
          padding-left: 10px;
          font-size: 14px;
          color: #1b204c;
        }

        a {
          display: block;
          &:hover {
            opacity: .6;
          }
        }

      }

      .lang_box_note {
        opacity: .4;
        font-size: 13px;
        display: block;
        clear: both;
        padding: 25px 0 0px 20px;
        z-index: 9999;
      }
    }

}
