@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/not-found-widget";

@import "partials/footer";

/* END: Partials */


.not-found-page {
  &:after {
    transform: rotate(180deg);
    background-size: 1500px;
    height: 1000px;
    top: 0px;
    background-position: bottom 30px left 0px;
  }

  @media (max-width:640px)
  {
    &:after {
      background-size: 1000px;
      height: 400px;
      background-position: bottom 0px right 0px;
    }
  }
}


