@import "partials/reset";
/* START: Libs */
@import "../../node_modules/slick-carousel/slick/slick";
@import "partials/slick-theme";

@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-default-theme";

@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/general-slider-widget";
@import "partials/text-content-widget";
@import "partials/enquiry-form-widget";
@import "partials/form-message-popup";
@import "partials/address-widget";
@import "partials/download-button-widget";
@import "partials/cta-banners-widget";
@import "partials/news-widget";
@import "partials/footer";

/* END: Partials */

.office-detail-page {
  .columns {
    //max-width: 1080px;
    margin: 0px auto 50px;

    .left {
      width: (680/1080*100%);
      float: left;
      padding-right: 50px;
    }

    .right {
      width: (400/1080*100%);
      float: right;
    }
  }

  .text-content-widget {
    h1 {
      margin-bottom: 36px;
      margin-top: 25px;
    }
  }

  .mid-body-pattern {
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 800px;
      display: block;
      background-image: url(../img/particles-pattern-horizontal.svg);
      background-position: bottom 0px left -87px;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -100px;
      left: 0px;
      opacity: 0.2;
      z-index: -1;
    }

    &:after {
      content: "";
      width: 100%;
      height: 1200px;
      display: block;
      background-image: url(../img/particles-pattern-vertical.svg);
      background-position: bottom right;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -100px;
      left: 0px;
      opacity: 0.2;
      z-index: -1;
    }
  }

  .enquiry-form-widget {
    margin-top: -70px;
    position: relative;
  }

  .cta-banners-widget {
    margin-bottom: 60px;
  }

  .banner_wrapper {
    .container {
      background-color: #F6F7FC;
    }
  }
  .lang_block {
    display: none;
    text-align: center;
    padding: 25px 0;
    
    .title {
      font-size: 24px;
      color: #1B204C;
      letter-spacing: 0;
      line-height: 35px;
      @media (max-width:640px)
      {
          font-size: 20px;
      }
    }


  }


  .links-wrapper {
    position: relative;

    .lang_sel_div {
      display: none;
      position: absolute;
      right: 0;
      z-index: 99;
      border: 1px solid #ced0e5;
      background-color: #E6E9F0;
      border-radius: 2px;
      padding: 7px 30px 7px 6px;
      margin-top: 20px;
      .lang_sel_box_link {
        img {
          display: block;
          width: 30px;
          height: 20px;
        }
        &:after {
          content: "";
          background-image: url(../img/grey-solid-arrow-down.svg);
          border: 0px none;
          width: 10px;
          height: 36px;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 250ms ease;
          position: absolute;
          top: 0px;
          right: 10px;
        }
      }
      &.hide {
        display: none;
      }

      @media (max-width:640px)
      {
          right: 10px;
          margin-top: 10px;
      }
    }


    .langs_list_div {
      display: none;
      position: absolute;
      right: 0;
      z-index: 99;
      border: 1px solid #ced0e5;
      background-color: #E6E9F0;
      border-radius: 2px;
      padding: 8px 34px 16px 10px;
      margin-top: 20px;
      &.show {
        display: block;
      }
      &:after {
        
      }

      @media (max-width:640px)
      {
          right: 10px;
          margin-top: 10px;
      }

      .close_box {
        .close_link {
              position: absolute;
              right: 3px;
              top: 0;
          &:after {
            content: "";
              background-image: url(../img/grey-solid-arrow-down.svg);
              border: 0px none;
              width: 10px;
              height: 36px;
              background-position: center;
              background-repeat: no-repeat;
              transition: all 250ms ease;
              position: absolute;
              top: 5px;
              right: 5px;
              display: block;
              transform: rotate(180deg);
              cursor: pointer;
          }
        }
      }

    }
    
  }


  .lang_links_div {
    .lang_link_wrap {
      padding: 15px 20px;
      .flag_img {
        margin-top: -7px;
        float: left;
        img {
          width: 28px;
          height: 18px;
        }
      }
      .switch_text {
        float: left;
        padding-left: 10px;
        font-size: 14px;
        color: #1b204c;
        font-weight: 600;
      }

      a {
        display: block;
        &:hover {
          opacity: .6;
        }
      }

    }
    .lang_sel_note {
      color: #7E859D;
      font-size: 13px;
      display: block;
      margin-top: 30px;
      padding-left: 20px;
      clear: both;
    }
  }

  
  .lang_buttons_div {
    .lang_link_wrap {
      display: inline-block;
      padding: 6px 12px;
      background: #E4E7EE;
      border-radius: 2px;
      margin-right: 20px;
      margin-top: 15px;
      &:last-child {
        margin-right: 0;
        @media (max-width:640px)
        {
            margin-left: 20px;
            margin-right: 20px;
        }
      }
      @media (max-width:640px)
      {
          margin-left: 20px;
      }

      .flag_img {
        margin-top: -7px;
        float: left;
        img {
          width: 28px;
          height: 18px;
        }
      }
      .switch_text {
        float: left;
        padding-left: 10px;
        font-size: 14px;
        color: #1b204c;
        font-weight: 600;
      }

      a {
        display: block;
        &:hover {
          opacity: .6;
        }
      }

    }
  }



  @media (max-width: 1000px) {
    .enquiry-form-widget {
      margin-top: 0px;
    }

    .text-content-widget {
      margin-bottom: 50px;
    }

    .columns {
      .left {
        float: none;
        width: 100%;
        padding-right: 0px;
      }

      .right {
        float: none;
        width: 100%;
        max-width: 700px;
        margin: 0px auto;

        /*.col-1000 {
          width: 50%;
          float: left;
          padding: 0px 10px;
        }*/
      }
    }
  }

  @media (max-width:960px)
  {
      .text-content-widget {
        h1 {
          margin-bottom: 20px;
          margin-top: 10px;
        }
      }
  }
}

