@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */

@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-medium-theme";

/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/tab-links-widget";
@import "partials/press-contacts-widget";
@import "partials/press-releases-widget";

@import "partials/footer";

/* END: Partials */


.press-center-page {

  .banner-widget {

    .banner {
      .overlay {
        /*top: 55%;
        transform: translateY(-50%);*/

        bottom: 40px;

        p {
          font-size: 16px;
          line-height: 1.69;
          color: #1b204c;
          background: transparent;
          box-shadow: none;
          border-radius: 0px;
        }
      }
    }
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    padding-right: 10px;
  }
}
