@import "partials/reset";
/* START: Libs */
@import "../../node_modules/slick-carousel/slick/slick";
@import "partials/slick-theme";
@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-default-theme";
@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/image-slider-widget";
@import "partials/text-content-widget";
@import "partials/key-points-widget";
@import "partials/buttons-widget";
@import "partials/enquiry-form-widget";
@import "partials/form-message-popup";
@import "partials/recommended-solutions-widget";
@import "partials/footer";

/* END: Partials */


.product-detail-page {

  .top-body-pattern {
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 800px;
      display: block;
      //background-image: url(../img/particles-pattern-horizontal-flipped.svg);
      background-position: top -110px left -87px;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0.2;
      z-index: -1;
    }
  }

  .buttons-widget {
    .wrapper {
      background-color: #fff;
    }
  }


  .banner-widget {

    .banner {
      height: 200px;
      border-radius: 5px;

      .overlay {

        bottom: 40px;
        left: 25px;

        .caption-wrapper {
          color: #ffffff;
        }

        p {
          font-size: 16px;
          line-height: 1.69;
          color: #ffffff;
          background: transparent;
          box-shadow: none;
          border-radius: 0px;
        }

        a.cta {
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          border-radius: 3px;
          background-color: #515a79;
          padding: 7px 22px;
          margin-right: 6px;
          margin-top: 20px;
          transition: all 200ms ease;
          display: inline-block;
          margin-bottom: 10px;
          transition: all 100ms ease;

          &:hover {
            opacity: .6;
          }
        }
      }

      .bottom-gradient {
        height: 100%;

        &:after {
          height: 100%;
          background-image: linear-gradient(to right, #333333, rgba(255, 255, 255, 0) 50%);
        }
      }

    }
  }

  .mid-body-pattern {
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 700px;
      display: block;
      //background-image: url(../img/particles-pattern-horizontal-flipped.svg);
      background-position: top 0px right -87px;
      background-repeat: no-repeat;
      position: absolute;
      top: -200px;
      left: 0px;
      opacity: 0.2;
      z-index: -1;
    }
  }

  .back-link {
    padding: 0px 20px 0px 35px;
    background-image: url(../img/grey-solid-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 14px;
    background-size: 6px;
    border-radius: 3px;
    background-color: #dedeef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #1b204c;
    margin-top: 17px;
    margin-bottom: 40px;
    display: inline-block;
  }

  .columns {
    margin: 0px -20px 50px;

    > div {
      padding: 0px 20px;

      &.left {
        width: 50%;
        float: left;

        .text-content-widget {
          margin-bottom: 20px;
        }
      }

      &.right {
        overflow: hidden;
      }
    }

  }

  .text-content-widget {
    margin-bottom: 80px;

    h1 {
      font-size: 44px;
      font-weight: 700;
      line-height: 0.93;
      color: #1b204c;
    }
  }

  .key-points-widget {
    div {
      color: #27284A;
      border-radius: 0;
    }
  }

  .mobile-only {
    display: none;
  }

  .form-section {
    background-color: #f6f6f6;
    background-image: url('../img/products-box-content-background.png');
    background-blend-mode: hard-light;
    background-position: 0 -50%;
    background-size: 115% 500px;
    background-repeat: no-repeat;
    padding: 50px 0;
    h5 {
      font-size: 40px;
      text-transform: uppercase;
      color: #27284a;
      text-align: left;
    }
    .enquiry-form-widget {
      background-color: transparent;
      border-radius: 0;
      padding: 0 20px;
      .form-field {
        background: #ffffff;
        border: 0;
        margin-bottom: 15px;
      }
      input[type=text], input[type=email], input[type=search], select, textarea {
        &::placeholder {
          color: #27284A;
          opacity: 1;
        }
      }
      .form-button {
        max-width: 320px;
        margin: 0 auto;
        button, input[type=submit] {
          background-color: #535B77;
          color: #ffffff;
          font-size: 20px;
          border-radius: 10px;
        }
      }
    }
    .s_columns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -20px;
      &_left, &_right {
        padding: 0 20px;
      }
      &_left {
        width: 50%;
      }
      &_right {
        width: 50%;
      }
    }

    @media (max-width: 640px) {
      h5 {
        font-size: 28px;
      }
      .enquiry-form-widge {
        padding: 0;
      }
    }

    @media (max-width: 960px) {
      .s_columns {
        flex-direction: column;
        &_left, &_right {
          width: 100%;
        }
      }
    }
  }

  .boxes-grid-content {
    align-items: center;
    height: 610px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;

    h5 {
      font-size: 40px;
      color: #27284A;
    }

    p {
      font-size: 20px;
      line-height: 32px;
    }

    .box-items {
      -ms-flex-line-pack: center;
      align-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 80%;

      .box-item {
        background-color: #ffffff;
        -webkit-box-shadow: 0px 1px 12px #9c9c9c;
        box-shadow: 0px 1px 12px #9c9c9c;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 344px;
        min-height: 300px;
        margin-bottom: 15px;
        padding: 50px 10px 30px;

        &:nth-last-child(4):first-child, &:nth-last-child(4):first-child ~ .box-item {
          max-width: 254px;
          padding: 50px 37px 30px;
        }

        &:nth-last-child(5):first-child, &:nth-last-child(5):first-child ~ .box-item {
          max-width: 200px;
        }

        .box-icon {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 50px;
          margin: 3px 0;

          img {
            max-width: 100%;
          }
        }

        .box-text {
          color: #1b204c;
          font-size: 16px;
          min-height: 60%;
          text-align: center;
          line-height: 1.1;
          padding: 30px 10px 20px;
        }

        .button-container {
          display: flex;
          justify-content: center;
          align-items: center;

          .box-button {
            color: #515a79;
            width: 250px;
            font-size: 12px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: .4px;
            text-align: center;
            text-transform: uppercase;

            a {
              background-color: #515a79;
              border-radius: 10px;
              color: #ffffff;
              display: block;
              height: 38px;
              line-height: 38px;

              &:hover {
                opacity: .7;
              }
            }

            span {
              display: block;
              padding: 4px 12px;
            }
          }
        }
      }
    }

    @media (max-width: 640px) {
      padding: 30px 0 10px;
      h5 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }
    }

    @media (max-width: 1190px) {
      height: 100%;
      .box-items {
        .box-item {
          max-width: 100% !important;
          padding: 50px 20px 30px !important;
          width: 100%;
        }
      }
    }
  }

  .video-section {
    background-color: #f6f6f6;
    background-image: url('../img/products-box-content-background.png');
    background-blend-mode: hard-light;
    background-position: 0 -50%;
    background-size: 115% 500px;
    background-repeat: no-repeat;
    padding: 65px 0;
    h5 {
      font-size: 40px;
      text-transform: uppercase;
      color: #27284a;
    }
    p {
      font-size: 20px;
      line-height: 32px;
      text-align: justify;
    }
    .s_columns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -20px;
      &_left, &_right {
        padding: 0 20px;
      }
      &_left {
        width: 45%;
      }
      &_right {
        width: 55%;
      }
    }
    .wp-video {
      width: 100%!important;
    }

    @media (max-width: 640px) {
      padding: 30px 0;
      h5 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }

    @media (max-width: 960px) {
      .s_columns {
        flex-direction: column;
        &_left, &_right {
          width: 100%;
        }
      }
    }
  }

  .tabs-section {
    padding: 50px 0;
    min-height: 500px;
    height: auto;
    background-image: url('../img/products-tab-background.png');
    background-position: 99% -40px;
    background-repeat: no-repeat;

    h5 {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 50px;
      color: #27284A;
    }

    .tabs-wrapper {
      .tabs {
        overflow: hidden;
        max-height: max-content;


        .tab {
          width: 100%;
          color: white;
          overflow: hidden;
          margin-bottom: 15px;

          input {
            position: absolute;
            opacity: 0;
            z-index: -1;
          }

          &-label {
            display: flex;
            justify-content: space-between;
            padding: 16px 60px;
            margin-bottom: 1px;
            background: #27284A;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
            line-height: 1.4;
            cursor: pointer;
            /* Icon */
            &::after {
              content: url("../img/arrow_back_ios_24px_white.svg");
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all .35s;
            }
          }

          &-content {
            max-height: 0;
            display: flex;
            padding-left: 60px;
            color: #fff;
            background: #27284A;
            transition: all .35s;

            .list {
              width: 40%;
              padding: 30px 0;
              margin-right: 56px;

              h5 {
                text-transform: uppercase;
                font-size: 20px;
                margin: 0;
                color: #fff;
              }

              ul {
                color: #fff;
                margin: 15px 24px;
              }
            }
          }

          &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #27284A;
            cursor: pointer;
          }
        }

        // :checked
        input:checked {
          + .tab-label {
            &::after {
              content: url("../img/arrow-up-white.svg");
            }
          }

          ~ .tab-content {
            max-height: 1000vh;
          }
        }

        :nth-child(1) {
          input:checked {
            + .tab-label {
              &::after {
                content: url("../img/arrow-up-black.svg");
              }
            }
          }

          .tab {
            &-label {
              background: #E9EAEF;
              color: #27284A;

              &::after {
                content: url("../img/arrow_back_ios_24px.svg");
              }
            }

            &-content {
              background: #E9EAEF;
              color: #27284A;

              .list {
                h5 {
                  color: #27284A;
                }

                ul {
                  color: #27284A;
                }
              }
            }
          }
        }

        :nth-child(2) {
          .tab {
            &-label {
              background: rgba(39, 40, 74, 0.5);
            }

            &-content {
              background: rgba(39, 40, 74, 0.5);
            }
          }
        }

        :nth-child(3) {
          .tab {
            &-label {
              background: rgba(39, 40, 74, 0.75);
            }

            &-content {
              background: rgba(39, 40, 74, 0.75);
            }
          }
        }
      }
    }

    @media (max-width: 640px) {
      padding: 30px 20px 10px;
      h5 {
        font-size: 28px;
        margin-bottom: 30px;
      }

      .container {
        padding: 0;

        .tabs-wrapper {
          .tabs {
            .tab {
              &-label {
                padding: 20px;
              }

              &-content {
                display: block;
                padding: 0px;

                .list {
                  width: 100%;
                  margin: 0;
                  padding: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 960px) {
    .top-body-pattern {
      position: initial;
    }

    .text-content-widget {
      h1 {
        font-size: 38px;
      }
    }
  }

  @media (max-width: 760px) {
    .top-body-pattern {
      &:before {
        background-position: top 0px left -87px;
      }
    }
    .columns {
      margin-bottom: 20px;

      > div.left {
        float: none;
        width: 100%;
      }
    }

    .mobile-only {
      display: block;
    }
    .mobile-hidden {
      display: none;
    }

    .buttons-widget {
      margin-top: 20px;
    }
  }

  @media (max-width: 640px) {
    .text-content-widget {
      h1 {
        font-size: 28px;
      }
    }

    .key-points-widget {
      h5 {
        font-size: 28px;
      }
    }

    .buttons-widget {
      .cols {
        > div {
          width: 100%;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  @media (max-width: 560px) {
    #footer .wrapper {
      padding-top: 30px!important;
    }
  }
}

