@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/

@import "../../node_modules/select2/dist/css/select2.css";
@import "partials/select2-default-theme";

@import "../../node_modules/lity/dist/lity.css";
@import "partials/lity-overrides.scss";

/* END: Libs */


/* ----------------------- */


/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/enquiry-form-widget";
@import "partials/download-button-widget";
@import "./partials/form-message-popup";
@import "partials/text-content-widget";
@import "partials/need-accordions-widget";
@import "partials/recommended-products-widget";
@import "partials/recommended-solutions-widget";

@import "partials/footer";

/* END: Partials */


.shipping-page {
  .banner-widget {
    .banner {
      .bottom-gradient {
        height: 224px;
      }
    }
  }

  .columns {
    //max-width: 1080px;
    margin: -50px auto 50px;
    position: relative;

    .left {
      width: (680/1080*100%);
      float: left;
      padding-right: 50px;
      margin-top: -100px;
    }

    .right {
      width: (400/1080*100%);
      float: right;
    }
  }

  .text-content-widget {
    h1 {
      margin-bottom: 36px;
      margin-top: 25px;

      + p {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 100px 88px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }
    }
  }

  @media (max-width: 1000px) {
    .text-content-widget {
      margin-bottom: 50px;
    }

    .columns {
      .left {
        float: none;
        width: 100%;
        padding-right: 0px;
      }

      .right {
        float: none;
        width: 100%;
        max-width: 700px;
        margin: 0px auto;
      }
    }
  }

  @media (max-width:960px)
  {
    .text-content-widget {
      h1 {
        margin-bottom: 20px;
        margin-top: 10px;
      }
    }
  }
}

