@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/solutions-products-listing-widget";
@import "partials/footer";

/* END: Partials */


.solutions-products-page {
  .banner-widget {
    + .text-content-widget {
      margin-top: -200px;
      position: relative;

      h1 {
        max-width: 560px;
      }

      p {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px -42px 50px 100px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }
    }
  }

  .text-content-widget {
    margin-bottom: 40px;
  }
}

