@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";

@import "partials/banner-widget";
@import "partials/ticketing-system-ctas-group-widget.scss";

@import "partials/footer";

/* END: Partials */

.support-center-page {
  .banner-widget {
    .banner {
      .logo {
        display: block;
        position: absolute;
        /* width: 252px;
                height: 65px; */
        width: 312px;
        height: 115px;
        left: 50%;
        margin-left: -126px;
        top: 25px;
        z-index: 5;
        padding: 30px;

        &:after {
          content: "";
          display: block;
          background-color: #000;
          position: absolute;
          top: 10px;
          left: 0px;
          width: 100%;
          height: 100%;
          filter: blur(20px);
          z-index: -1;
          opacity: 0.5;
        }
      }

      .overlay {
        max-width: 100%;
        text-align: center;
        width: 100%;
        left: 0px;

        .caption-wrapper {
          font-size: 50px;
          margin-bottom: 30px;
        }
      }
    }
  }

  #footer {
    padding-bottom: 20px;

    .wrapper {
      padding-right: 0px;
      text-align: center;
    }

    .copy-rights {
      float: none;
      margin-right: 0px;
      padding-right: 10px;
    }

    ul 
    {
      display: inline;
      list-style: inline;
      li {
        display: inline;
      }
    }

    a {
      font-size: 14px;
      color: #1b204c;
      transition: all 250ms ease;
      padding: 0px 10px;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media (max-width: 960px) {
    .banner-widget {
      .banner {
        .overlay {
          .caption-wrapper {
            font-size: 38px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
      .banner-widget {
        .banner {
          .overlay {
            .caption-wrapper {
              font-size: 28px;
            }
          }
        }
      }

    #footer {
      .wrapper {
        padding-top: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    #footer {
      .copy-rights {
        display: block;
      }
    }
  }
}
