@import "partials/reset";
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/need-accordions-widget";
@import "partials/footer";
/* END: Partials */

.surveillance-portfolio-page {
  .return_back_container {
    position: relative;
  }
  .back-link {
    display: inline-block;
    margin-top: 18px;
    padding: 0 20px 0 35px;
    position: absolute;
    background-image: url(../img/grey-solid-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 14px;
    background-size: 6px;
    border-radius: 3px;
    background-color: #dedeef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #1b204c;
    transition: all .25s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  .banner-widget {
    .bottom-content {
      display: flex;
      align-items: flex-end;
      background: linear-gradient(360deg,#ffffff 8%,rgba(255,255,255,0) 30%);
      height: 100%;
      .container {
        width: 100%;
      }
      h1 {
        color: #27284a;
        font-size: 52px;
        line-height: 1.2;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      p {
        color: #27284a;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0 0 15px;
      }
    }
  }

  .section-title {
    h3 {
      color: #27284a;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.15;
      margin-bottom: 15px;
      padding-top: 20px;
      text-transform: uppercase;
    }
  }

  .section_simple_text {
    .text-content-widget {
      p {
        color: #27284a;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  .section_technologies {
    margin: 40px 0 60px;
    .grid_columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .transfer_side, .stream_side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e9eaef;
        .transfer_side_texts, .stream_side_texts {
          padding: 36px;
          .title {
            margin: 0 0 8px;
            h2 {
              color: #27284a;
              font-size: 20px;
              font-weight: 700;
              line-height: 26px;
            }
          }
          .description {
            p {
              color: #27284a;
              font-size: 18px;
              font-weight: 300;
              line-height: 26px;
            }
          }
        }
      }
      .image {
        display: flex;
        width: 100%;
        position: relative;
        img, video {
          width: 100%;
          height: auto;
        }
        .img_button {
          position: absolute;
          top: 53%;
          left: 50%;
          padding: 8px 26px;
          color: #fff;
          cursor: pointer;
          background: rgba(46, 41, 34, 0.6);
          border: 1px solid #fff;
          border-radius: 26px;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          transform: translate(-50%, -50%);
          &:hover {
            background: #9c8767;
          }
        }
      }
      .button {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        a {
          display: block;
          width: 100%;
          padding: 22px;
          background-color: #27284a;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }

  .need-accordions-widget {
    margin: 30px auto 40px;

    .item {
      &:before {
        background: none;
      }

      .title {
        h5 {
          color: #27284a;
        }

        &:after {
          background-image: url('../img/arrow_back_ios_24px.svg');
          background-size: 24px;
          width: 24px;
          height: 24px;
        }
      }

      .content {
        p {
          color: #27284a;
        }
      }

      &.expand {
        .content {
          padding-bottom: 0;
        }
      }
    }

    &.surveillance_cases {
      .item {
        &:nth-child(1) {
          background-color: #f2f2f5;
        }
        &:nth-child(2) {
          background-color: #dddee4;
        }

        &:nth-child(3) {
          background-color: #7d7e92;
        }

        &:nth-child(4) {
          background-color: #474865;
        }

        &:nth-child(5) {
          background-color: #27284a;
        }

        &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          .title {
            h5 {
              color: #ffffff;
            }

            &:after {
              background-image: url('../img/arrow_back_ios_24px_white.svg');
            }
          }

          .content {
            p {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  @media (max-width: 960px) {
    .section-title {
      h3 {
        font-size: 32px;
      }
    }

    .section_technologies {
      .image {
        .img_button {
          font-size: 14px!important;
          line-height: 14px!important;
          padding-top: 6px!important;
          padding-bottom: 6px!important;
        }
      }
    }
  }

  @media (max-width: 640px) {
    .banner-widget {
      .bottom-content {
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
      }
    }

    .section_technologies {
      .grid_columns {
        grid-template-columns: 1fr;
        .image {
          .img_button {
            font-size: 12px!important;
            line-height: 12px!important;
          }
        }
      }
    }
  }
}