@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/value-added-services-widget";
@import "partials/footer";

/* END: Partials */


.value-added-services-page {
  .banner-widget {
    + .text-content-widget {
      margin-top: -120px;
      position: relative;

      h1 {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 40px 50px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }

      p {
      }
    }
  }

  .text-content-widget {
    margin-bottom: 40px;
  }

}

