@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/key-points-widget";
@import "partials/download-button-widget";
@import "partials/additional-buttons-widget";
@import "partials/footer";

/* END: Partials */

.vas-detail-page {
  .return_back_container {
    position: relative;
  }
  .back-link {
    display: inline-block;
    margin-top: 18px;
    padding: 0px 20px 0px 35px;
    position: absolute;
    background-image: url(../img/grey-solid-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 14px;
    background-size: 6px;
    border-radius: 3px;
    background-color: #dedeef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #1b204c;
    transition: all .25s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  .banner-widget {
    + .text-content-widget {
      margin-top: -120px;
      position: relative;

      h1 {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 40px 50px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }

      p {

      }
    }
  }

  .text-content-widget {
    margin-bottom: 40px;
    position: relative;

    p {
      line-height: 1.69;
      margin-bottom: 30px;
    }
  }

  .columns {
    margin: 0px -20px 50px;

    > div {
      padding: 0px 20px;

      &.left {
        width: 50%;
        float: left;
      }

      &.right {
        overflow: hidden;
      }
    }

  }

  .key-points-widget {
    position: relative;
    margin-bottom: 30px;
  }

  @media (max-width: 640px) {
    .text-content-widget {
      margin-bottom: 20px;
    }
    .columns {
      margin-bottom: 30px;

      > div {
        &.left {
          width: 100%;
          float: none;
        }

        &.right {
          width: 100%;
        }
      }
    }
  }
}