@import "partials/reset";
/* START: Partials */
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/footer";
/* END: Partials */

.vas-detail-v2-page {
  .return_back_container {
    position: relative;
  }
  .back-link {
    display: inline-block;
    margin-top: 18px;
    padding: 0px 20px 0px 35px;
    position: absolute;
    background-image: url(../img/grey-solid-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 14px;
    background-size: 6px;
    border-radius: 3px;
    background-color: #dedeef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #1b204c;
    transition: all .25s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  .banner-widget {
    .banner {
      height: 450px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
    }
  }

  .main-content {
    .title-content {
      h1 {
        font-weight: 700;
        font-size: 64px;
        color: #1b204c;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    }
    .text-content {
      color: #1b204c;
      font-size: 16px;
      line-height: 1.7;
      text-align: justify;
      margin-bottom: 40px;
      p {
        /*padding: 15px 0;*/
      }
    }
    .button-content {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .4px;
      text-align: center;
      text-transform: uppercase;
      width: 180px;
      a {
        background-color: #515a79;
        border-radius: 10px;
        color: #ffffff;
        display: block;
        height: 28px;
        line-height: 28px;
        &:hover {
          opacity: .7;
        }
      }
    }
    .boxes-grid-content {
      background-image: url('../img/bg_content_title.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 520px;
      padding: 50px 0;
      position: relative;
      overflow: hidden;
      .box-items {
        -ms-flex-line-pack: center;
        align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%;
        .box-item {
          background-color: #ffffff;
          -webkit-box-shadow: 0px 1px 12px #9c9c9c;
          box-shadow: 0px 1px 12px #9c9c9c;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          max-width: 344px;
          min-height: 300px;
          margin-bottom: 15px;
          padding: 50px 10px 30px;
          &:nth-last-child(4):first-child, &:nth-last-child(4):first-child ~ .box-item {
            max-width: 254px;
            padding: 50px 37px 30px;
          }
          &:nth-last-child(5):first-child, &:nth-last-child(5):first-child ~ .box-item {
            max-width: 200px;
          }
          .box-icon {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 50px;
            margin: 3px 0;
            img {
              max-width: 100%;
            }
          }
          .box-text {
            color: #1b204c;
            font-size: 16px;
            min-height: 60%;
            text-align: center;
            line-height: 1.1;
            padding: 30px 10px 20px;
          }
          .box-button {
            color: #515a79;
            font-size: 12px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: .4px;
            text-align: center;
            text-transform: uppercase;
            a {
              background-color: #515a79;
              border-radius: 10px;
              color: #ffffff;
              display: block;
              height: 28px;
              line-height: 28px;
              &:hover {
                opacity: .7;
              }
            }
            span {
              display: block;
              padding: 4px 12px;
            }
          }
        }
      }
      @media (max-width:1080px) {
        height: 100%;
        padding: 70px 20px;
        .box-items {
          .box-item {
            max-width: 100%!important;
            padding: 50px 20px 30px!important;
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 960px) {
      .title-content {
        h1 {
          font-size: 38px;
        }
      }
    }
    @media (max-width: 640px) {
      .title-content {
        h1 {
          font-size: 28px;
        }
      }
    }
  }
}