@import "partials/reset";
/* START: Libs */
/*@import "../../node_modules/slick-carousel/slick/slick";*/
/*@import "partials/slickTheme";*/
/* END: Libs */
/* ----------------------- */
/* START: Partials */
@import "partials/common";
@import "partials/header";

@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/vertical-markets-widget";

@import "partials/footer";

/* END: Partials */


.vertical-markets-page {

  .text-content-widget {
    margin-top: -170px;
    position: relative;
    margin-bottom: 80px;

    h1 {
      + p {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 100px 88px rgba(255, 255, 255, 0.8);
        border-radius: 50px;
      }
    }

    p {
      font-size: 18px;
    }
  }

  .banner-widget {
    margin-bottom: 60px;
  }

  @media (max-width:640px)
  {
      .text-content-widget {
        margin-bottom: 40px;
      }
  }
}

