@import "partials/reset";
@import "partials/common";
@import "partials/header";
@import "partials/banner-widget";
@import "partials/text-content-widget";
@import "partials/key-points-widget";
@import "partials/download-button-widget";
@import "partials/additional-buttons-widget";
@import "partials/footer";

.vsat-experience-page {
  .return_back_container {
    position: relative;
  }
  .back-link {
    display: inline-block;
    margin-top: 18px;
    padding: 0px 20px 0px 35px;
    position: absolute;
    background-image: url(../img/grey-solid-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 15px left 14px;
    background-size: 6px;
    border-radius: 3px;
    background-color: #dedeef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #1b204c;
    transition: all .25s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  .banner-widget {
    .bottom-content {
      display: flex;
      align-items: flex-end;
      height: 100%;
      .container {
        width: 100%;
      }
      h5 {
        color: #fff;
        font-size: 56px;
        line-height: 1.2;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0 0 30px;
      }
    }
  }

  .text-content-widget {
    margin: 40px auto;
    position: relative;

    p {
      line-height: 1.69;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  .buttons-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .col_left, & .col_right {
      width: 48%;
    }
  }

  .download-button{
    width: 100%;
    height: 60px;
    .caption {
      font-size: 18px!important;
    }
  }

  .link-button {
    border-radius: 3px;
    background-color: #515a79;
    text-shadow: 0 1px 2px rgb(45 143 152 / 7%);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: #fff;
    padding: 12px 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    display: block;
    text-transform: uppercase;
    transition: all .2s ease;
    &:hover {
      opacity: .8;
    }
  }

  .columns {
    margin: 30px -20px 50px;

    > div {
      padding: 0px 20px;

      &.left {
        width: 55%;
        float: left;
      }

      &.right {
        width: 45%;
        overflow: hidden;
        max-height: 1000vh;
        .add-on {
          box-shadow: 0 0 22px -2px rgba(0, 0, 0, 0.3);
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          margin: 30px 0;
          padding: 30px 46px;
          &-content {
            .label {
              margin-bottom: 20px;
              h5 {
                text-transform: uppercase;
                font-size: 20px;
                line-height: 28px;
                color: #27284A;
                span {
                  color: #747B9F;
                }
              }
            }
            .links {
              width: 100%;
              .link {
                a, a:hover, a:visited, a:active {
                  text-decoration: none;
                  color: #27284A;
                  font-size: 18px;
                  line-height: 26px;
                }
              }
            }
          }
          &-1 {
            .links {
              .link {
                width: 100%;
              }
            }
          }
          &-2 {
            .links {
              .link {
                display: inline-block;
                width: 49%;
                margin-bottom: 7px;
                min-width: 116px;
                a {
                  position: relative;
                  padding-right: 24px;
                  &:after {
                    content: "";
                    background-image: url(../img/arrow_back_ios_24px.svg);
                    background-size: 14px;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    bottom: 4px;
                    right: 1px;
                    transition: all .5s ease;
                    transform: rotate(270deg);
                  }
                  &:hover {
                    &:after {
                      right: -9px;
                    }
                  }
                }
              }
            }
          }
          &.bottom {
            background-position: 100% 100%;
          }
          &.top {
            background-position: 100% 0;
          }
        }
      }
    }

  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .icon {
      width: 180px;
      .img-wrapper {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        img {
          width: 100%;
          max-height: 100%;
        }
      }
      .text {
        padding: 10px 5px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #27284A;
      }
    }
  }

  @media (max-width: 640px) {
    .banner-widget {
      .bottom-content {
        h5 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
      }
    }

    .buttons-columns {
      flex-direction: column;
      & .col_left, & .col_right {
        width: 100%;
      }
    }
  }

  @media (max-width: 960px) {
    .text-content-widget {
      margin: 20px auto;
    }
    .columns {
      margin-top: 20px;
      margin-bottom: 30px;
      > div {
        &.left, &.right {
          width: 100%;
          float: none;
        }
      }
    }
    .icons {
      justify-content: center;
    }
  }
}