.additional-buttons-widget
{
    a {
        display: block;
        background-color: #7a84a6;
        text-align: center;
        padding: 12px 15px;
        border-radius: 3px;
        margin-bottom: 10px;
        color: #FFF;
        font-size: 20px;
        text-shadow: 0 1px 2px rgba(45, 143, 152, 0.07);
        transition: all 300ms ease;
        font-weight: 600;

        &:hover {
            opacity: 0.8;
        }
    }
}