.address-tabs-widget {
  margin: 20px auto;

  .tab-links {
    margin: 0px 0px 10px;
    a {
      border-radius: 3px;
      background-color: #ebecf2;
      font-size: 14px;
      text-align: center;
      color: #1b204c;
      display: inline-block;
      text-transform: uppercase;
      padding: 6px 30px;
      margin-right: 6px;

      &.active {
        color: #FFF;
        background-color: #1b204c;
      }
    }
  }

  .tab-content {
    display: none;

    .address {
      box-shadow: 0 6px 9px 0 rgba(143, 143, 143, 0.07);
      background-color: #ecf1f2;
      font-size: 16px;
      line-height: 1.31;
      text-align: center;
      color: #1b204c;
      padding: 14px 20px;
    }

    &.active {
      display: block;
    }
  }

  @media (max-width:640px)
  {
      .tab-links {
        a {
          padding: 5px 15px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
  }
}