.banner-widget {
  .banner {
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    .overlay-wrapper {
      position: relative;
      height: 100%;
    }

    .overlay {
      position: absolute;
      left: 59px;
      bottom: 0px;
      z-index: 9;
      padding: 0px 20px;
      max-width: 590px;

      h1 {
        font-size: 58px;
        font-weight: 700;
        line-height: 0.96;
        color: #1b204c;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 15px;
      }

      .caption-wrapper {
        //font-family: 'Myriad Pro Bold', sans-serif;
        font-weight: 700;
        font-size: 64px;
        line-height: 0.96;
        color: #1b204c;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 15px;
      }

      p {
        font-size: 18px;
        line-height: 1.44;
        margin: 0px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 100px 88px rgba(255, 255, 255, 0.8);
        border-radius: 50px;

      }
    }

    .bottom-gradient {
      width: 100%;
      height: 160px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 130px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }
  }

  .links-wrapper {
    position: relative;
  }

  .links
  {
    position: absolute;
    padding: 18px 0px 0px;

    a {
      display: inline-block;
      border-radius: 3px;
      background-color: #dedeef;
      padding: 6px 18px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #1b204c;
      margin-right: 7px;
      transition: all 250ms ease;
      margin-bottom: 10px;


      &:last-child {
        margin-right: 0px;
      }

      &.active {
        background-color: #1b204c;
        color: #FFF;
      }

      &.back {
        padding-left: 30px;
        background-image: url(../img/grey-solid-arrow-left.svg);
        background-repeat: no-repeat;
        background-position: top 15px left 12px;
        background-size: 6px;
      }

      &:hover {
        opacity: 0.7;
      }

    }
  }

  &.medium {
    .banner {
      height: 350px;
    }
  }

  &.small {
    .banner {
      height: 250px;
    }
  }
  
  @media (max-width:1220px)
  {
      .links {
        padding-left: 18px;
      }
  }

  @media (max-width:960px)
  {
    .banner {
      .overlay {
        .caption-wrapper {
          font-size: 42px;
        }

        h1 {
          font-size: 38px;
        }
      }
    }
  }

  @media (max-width:768px)
  {
    .banner {
      .overlay {
        left: 0px;
      }
    }
  }

  @media (max-width:640px)
  {
    .banner {
      .overlay {
        .caption-wrapper {
          font-size: 24px;
        }

        h1 {
          font-size: 28px;
        }
      }
    }
  }
  
  @media (max-width:540px)
  {
      .links {
        padding: 10px 10px 0px;

        a {
          padding: 0px 5px;
          margin-bottom: 7px;

          &.back {
            background-position: top 8px left 12px;
          }
        }
      }
  }

  @media (max-width:420px)
  {
    .banner {
      height: 350px;
    }
  }
}