.board-members-widget {
  //max-width: 1044px;
  margin: 0px auto 30px;

  h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.42;
    color: #1b204c;
    margin-bottom: 30px;
    text-transform: uppercase;
  }


  .items {
    margin: 0px -10px;

    .item {
      float: left;
      width: 33.33%;
      padding: 0px 10px;
      margin-bottom: 20px;

      .img {
        padding-top: 61.74%;
        width: 100%;
        height: 0px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .details {
        background-color: #f8f8f9;
        padding: 14px 20px;
        display: block;
      }

      .name {
        font-size: 16px;
        font-weight: 700;
        color: #1b204c;
        text-transform: uppercase;
      }

      .company {
        font-size: 14px;
        line-height: 1.56;
        letter-spacing: normal;
        color: #1b204c; //lighten(#000000, 50);
        min-height: 21px;
      }

      .position {
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: normal;
        color: lighten(#000000, 50);
        margin-bottom: 2px;
      }

      .row {
        position: relative;

        .linkedin
        {
          position: absolute;
          display: block;
          width: 14px;
          height: 14px;
          background-image: url('../img/linkedin-grey.svg');
          right: 0px;
          top: 2px;
        }

        .popup {
          position: absolute;
          display: block;
          width: 14px;
          height: 14px;
          background-image: url('../img/popup.png');
          background-size: contain;
          right: 0px;
          top: 2px;
          opacity: 0.6;
        }
      }

      .bio-popup {
        display: none;
      }
    }
  }


  @media (max-width: 960px) {
    h3 {
      font-size: 22px;
    }
  }

  @media (max-width: 768px) {
    .items {
      .item {
        width: 50%;
      }
    }
  }

  @media (max-width: 640px) {
    h3 {
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    .items {
      .item {
        width: 100%;
      }
    }
  }
}

.bio-popup {
  max-width: 600px;
  background: #FFF;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 5px;
  position: relative;

  .close {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    right: 12px;
    background-color: #636d8c;
    background-image: url('../img/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .name {
    font-size: 18px;
    font-weight: 700;
    color: #1b204c;
    text-transform: uppercase;
  }

  .company {
    font-size: 14px;
    line-height: 1.56;
    letter-spacing: normal;
    color: #1b204c; //lighten(#000000, 50);
    float: left;

  }

  .position {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: normal;
    color: lighten(#000000, 50);
    margin-bottom: 2px;
  }

  .header {
    padding: 30px 30px 0px 30px;

    .img-wrapper {
      float: left;
      width: 140px;
      margin-right: 30px;

      .img {
        padding-top: 61.74%;
        width: 100%;
        height: 0px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .details {
      overflow: hidden;
    }
  }

  .bio-wrapper {
    padding: 20px 20px 30px 30px;
  }

  .bio {
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-color: #d4d6df transparent;
    padding-right: 10px;


    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-button {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d2d4e0;
      border: 0px none;
      border-radius: 0px;
    }

   &::-webkit-scrollbar-track {
      background: transparent;
      border: 0px none;
      border-radius: 0px;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

  }

  @media (max-width:640px) and (min-width:410px)
  {
    max-height: 90vh !important;
  }

  @media (max-width:640px)
  {
    .bio {
      max-height: none;
    }
  }
  
  @media (max-width:600px)
  {
    border-radius: 0px;
  }
  
  @media (max-width:400px)
  {
    .close {
      top: 12px;
    }
      .header {
        padding: 20px 20px 0px 20px;

        .img-wrapper {
          width: 100%;
          float: none;
          margin-bottom: 20px;
        }
      }

    .bio-wrapper {
      padding: 20px;
    }
  }
}
