.buttons-widget {
  margin: 40px auto;

  .wrapper {
    background-color: #f6f6f8;
    padding: 36px 0px;
  }

  .cols {
    margin: 0px -20px 0px;

    > div {
      float: left;
      width: 50%;
      padding: 0px 20px;
    }
  }


  a {
    border-radius: 3px;
    background-color: #515a79;
    text-shadow: 0 1px 2px rgba(45, 143, 152, 0.07);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    line-height: 63px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    transition: all 200ms ease;

    &.download-brochure {
      background-color: #bdb4a6;
      &:before {
        content: "";
        display: inline-block;
        background-image: url(../img/download.svg);
        background-repeat: no-repeat;
        width: 23px;
        height: 28px;
        position: relative;
        top: 5px;
        margin-right: 15px;
      }
    }

    &.custom-button {
      background-color: #bdb4a6;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}