.contact-widget {
  margin-bottom: 50px;

  .country-dropdown {
    max-width: 490px;
    margin: 0px auto 58px;

    label {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #1b204c;
      margin-bottom: 9px;
      text-transform: uppercase;
      display: block;
    }

    select {
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      color: #1b204c;
      padding: 16px 30px;
      appearance: none;
      border-radius: 3px;
      box-shadow: 0 2px 12px 0 rgba(97, 97, 97, 0.12);
      border: solid 2px #515a79;
      background-color: #ffffff;

      outline: none;

      background-image: url("../img/dark-blue-arrow-down.svg");
      background-repeat: no-repeat;
      background-position: top 26px right 20px;
    }

    /*.select2-container--default .select2-selection--single .select2-selection__arrow {
      right: 15px;
    }
    .select2-container {
      padding: 0 20px;
      border: 2px solid #1b204c;
    }*/
  }

  .columns {
    margin: 0px -34px;

    .col {
      width: 50%;
      padding: 0px 34px;

      h6 {
        font-size: 16px;
        font-weight: 700;
        line-height: 2.56;
        color: #1b204c;
      }

      &.left {
        float: left;
        position: relative;
      }

      &.right {
        float: right;
      }
    }
  }

  .addresses {
    padding-top: 30px;

    .address {
      display: none;

      &.active {
        display: block;
      }
    }

    .address_item {
      margin-bottom: 20px;
    }

    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.04;
      color: #1b204c;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      line-height: 1.69;
      color: #1b204c;
      margin-bottom: 30px;
    }

    a {
      font-size: 16px;
      line-height: 1.69;
      color: #1b204c;
      padding-left: 29px;
      display: block;
      background-position: 0 5px;
      background-repeat: no-repeat;
      margin-bottom: 5px;

      &:hover {
        opacity: 0.7;
      }

      &.phone {
        background-image: url("../img/phone.svg");
      }

      &.email {
        background-image: url("../img/mail.svg");
      }

      &.fax {
        background-image: url("../img/fax.svg");
      }
    }
  }

  .form-fields {
    input[type="text"],
    textarea,
    input[type="email"],
    input[type="search"] {
      border-radius: 3px;
      border: solid 1px #dedede;
      background-color: #f7f7f7;
      opacity: 1;
      font-size: 18px;
      color: rgba(27, 32, 76, 0.7);
      outline: none;
      padding: 12px 20px;
      width: 100%;

      &::placeholder {
        color:rgba(27, 32, 76, 0.71);
        opacity: 1;
      }
    }

    textarea {
      height: 49px;
      vertical-align: bottom;
      transition: all 300ms ease;

      &.expand {
        height: 150px;
      }
    }

    input[type="submit"] {
      width: 100%;
      max-width: 304px;
      border-radius: 3px;
      background-color: #bdb4a6;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.92px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      padding: 10px;
      outline: 0;
      cursor: pointer;
    }

    select {
      &.select2-interest {
        padding: 0px 14px;
        height: 1px;
        overflow: hidden;
      }
    }

    .form-field {
      margin-bottom: 8px;
      > label {
        display: none;
      }
    }
    .form-field.field-invalid {
      border-bottom: 2px solid #d52114;
    }
    .form-field.border-field {
      border: solid 1px #dedede;
    }
    .form-field.border-field.field-invalid {
      border-bottom: solid 2px #d52114;
    }

    .gcerror {
      iframe {
        border-bottom: solid 2px #d52114;
      }
    }

    .no-list.hs-error-msgs.inputs-list {
      list-style: none;
      color: #a84e4e;
    }

    select {
      appearance: none;
      border: solid 1px #dedede;
      font-size: 18px;
      color: rgba(27, 32, 76, 0.7);
      outline: none;
      padding: 14px 20px;
      width: 100%;
      line-height: 1.2;
      border-radius: 3px;
      background-image: url(../img/grey-solid-arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center right 15px;
    }

    .select2-container {
      width: 100% !important;
      padding: 0 20px;
    }
  }

  form {
    position: relative;

    .error {
      font-size: 20px;
      display: none;
      padding: 30px 0px;
      color: #a84e4e;
      text-align: left;

      a {
        display: block;
        font-size: 16px;
      }
    }

    .overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      border-radius: 5px;
      display: none;
      z-index: 3;
    }

    .loader {
      margin: -23px auto 0px;
      top: 50%;
      border-color: rgba(27, 32, 76, 0.38);
        border-left-color: rgb(27, 32, 76);
      display: none;
    }

    &.loading {
      .overlay {
        display: block;
      }

      .loader {
        display: block;
      }

      .form-fields {
        opacity: 0.1;
      }
    }

    /* &.success {
      .overlay {
        display: block;
      }

      .success {
        display: block;
      }
    } */

    &.error {
      .error {
        display: block;
      }
    }
  }

  @media (max-width: 960px) {
    .addresses {
      h1 {
        font-size: 38px;
      }
    }
  }

  @media (max-width: 768px) {
    .columns {
      margin: 0px -20px;

      .col {
        padding: 0px 20px;
      }
    }
  }

  @media (max-width: 640px) {
    .country-dropdown {
      margin-bottom: 20px;

      select {
        font-size: 20px;
        padding: 12px 40px 12px 15px;
        background-position: top 20px right 12px;
      }
    }

    .addresses {
      h1 {
        font-size: 24px;
      }
    }
    .columns {
      .col {
        width: 100%;

        &.left,
        &.right {
          float: none;
        }

        &.right {
          margin-bottom: 30px;
        }
      }
    }
  }

  @media (max-width: 340px)
  {
    #google-captcha-holder {
      margin: 0px -20px;

      .g-recaptcha
      {
        > div {
          margin: 0px auto;
        }
      }
    }
  }
}

