.cta-banners-widget
{
  //max-width: 1080px;
  margin: 40px auto;

  .items {
    margin: 0px -7px;

    .item {
      width: 50%;
      float: left;
      padding: 0px 7px;

      .inner-wrapper {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        padding: 20px 50px;
        display: table;
        width: 100%;

        &:hover {
          opacity: 0.8;
        }
      }

      .overlay {
        display: table-cell;
        vertical-align: middle;
      }

      h4 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.13;
        color: #ffffff;
        text-transform: uppercase;

        + p {
          margin-top: 5px;
        }
      }

      p{
        font-size: 18px;
        line-height: 1.28;
        color: #ffffff;
        margin: 0px;
      }
    }

  }
  
  @media (max-width:720px)
  {
    .items {
      max-width: 450px;
      margin: 0px auto;

      .item {
        padding: 0px;
        width: 100%;
        float: none;
        margin-bottom: 20px;
      }
    }
  }
}