  .download-button {
    display: block;
    background-color: #bdb4a6;
    text-align: center;
    padding: 12px 15px;
    border-radius: 3px;
    margin-bottom: 10px;

    .inner-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      //float: left;
      background-image: url('../img/download.svg');
      background-repeat: no-repeat;
      width: 29px;
      height: 36px;
      //position: relative;
      //top: 2px;
      margin-right: 15px;
      background-size: 29px 36px;
    }

    .text {
      overflow: hidden;
      line-height: 1.3;
      text-align: left;

      &.has-one-caption {
        span.caption {
          margin-bottom: 0px;
        }
      }

      span {
        font-weight: 600;
        display: block;

        &.caption {
          text-shadow: 0 1px 2px rgba(45, 143, 152, 0.07);
          font-size: 20px;
          color: #ffffff;
          line-height: 1;
          margin-bottom: 4px;
        }

        &.sub-caption {
          font-size: 12px;
          letter-spacing: 1px;
          color: #ded9d2;
          text-transform: uppercase;
        }
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }