.enquiry-form-widget {
  background-color: #ced0e5;
  border-radius: 2px;
  padding: 38px 20px 32px;
  margin-bottom: 20px;

  h5 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.09px;
    text-align: center;
    color: #1b204c;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  form {
    position: relative;

    .loading-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: none;
      z-index: 3;

      .loader {
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
      }
    }

    .success {
      display: none;
      font-size: 16px;
      padding: 0px 0px 50px;
      text-align: center;
    }

    .error {
      display: none;
      font-size: 16px;
      padding: 0px 0px 30px;
      text-align: center;
      color: #a84e4e;
    }

    &.loading {
      .loading-overlay {
        display: block;
      }

      .form-fields {
        opacity: 0.1;
      }
    }

    &.success {
      .success {
        display: block;
      }

      .form-fields {
        display: none;
      }
    }

    &.error {
      .error {
        display: block;
      }
    }
  }

  .form-field {
    border-bottom: 2px solid #caccdf;

    &.no-border {
      border-bottom: 0px none;
    }

    &.field-invalid {
      border-bottom: 2px solid #d52114;
    }
  }


  .gcerror {
    iframe {
      border-bottom: solid 2px #d52114;
    }
  }

  .form-button {
    margin: 0px 20px;
  }

  input[type=text], input[type=email], input[type=search], select, textarea {
    font-size: 18px;
    color: #51525a;
    background-color: transparent;
    border: 0px none;
    outline: none;
    padding: 14px;
    width: 100%;

    //border-bottom: solid 1px rgba(151, 151, 151, 0.10);

    &::placeholder {
      color: #51525a;
      opacity: 1;
    }
  }

  select {
    appearance: none;
    background-image: url(../img/grey-solid-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center right  10px;

    &.select2-interest {
      height: 1px;
      overflow: hidden;
      padding: 0px 14px;
    }
  }

  textarea {
    border-bottom: 0px none;
    resize: none;
    height: 51px;
    transition: all 300ms ease;

    &.expand {
      height: 100px;
    }
  }

  button,
  input[type=submit] {
    border-radius: 3px;
    background-color: #f8fbfb;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.92px;
    text-align: center;
    color: #1b204c;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    outline: 0;
    border: 0px none;
    margin-top: 20px;
    cursor: pointer;

  }

  .field {
    > label {
      display: none;
    }
  }

  .no-list.hs-error-msgs.inputs-list
  {
    list-style: none;
    color: #a84e4e;
  }

  #google-captcha-holder {
    margin: 0px -20px;

    .g-recaptcha
    {
      > div {
        margin: 0px auto;
      }
    }
  }

  @media (max-width: 1080px) and (min-width: 1000px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;

    .google-captcha-wrapper {
      position: relative;
      max-width: 100%;
      height: 118px;

      #google-captcha-holder {
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -152px;
      }
    }
  }
}
