#footer {
  padding: 40px 0px;

  .wrapper {
    /*max-width: 1080px;
    margin: 0px auto;*/
    /* padding-right: 65px; */
    position: relative;
  }

  .chat {
    width: 65px;
    height: 65px;
    background-color: #1b204c;
    float: right;
    border-radius: 50px;
    background-image: url('../img/chat-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 250ms ease;
    position: absolute;
    right: 0px;
    top: 0px;

    &:hover {
      opacity: 0.6;
    }
  }

  .copy-rights {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: #949494;
    padding-top: 3px;
  }

  .links {
    float: left;
    font-size: 14px;

    ul {
      list-style: none;
      margin-top: 0;
      padding-top: 0;

      li {
        display: inline-block;
        padding: 0px 10px;

        &:first-child {
          padding-left: 0px;
        }
      }
    }

    a {
      font-size: 14px;
      color: #1b204c;
      transition: all 250ms ease;

      &:hover {
        opacity: 0.6;
      }
    }
  }
  
  .left-wrapper {
    float: left;

    h3 {
      font-size: 18px;
      //font-family: 'Myriad Pro Bold', sans-serif;
      font-weight: 700;
      color: #7a84a6;
    }
  }

  .right-wrapper {
    float: right;

    .social-media-widget {
      float: right;
      padding: 11px 0px;
      margin-right: 10px;

      a {
        width: 44px;
        height: 44px;
        background-color: #7a84a6;
        display: inline-block;
        border-radius: 50px;
        overflow: hidden;
        text-indent: -99px;
        margin: 0px 5px;
        float: left;
        transition: all 250ms ease;

        &.facebook {
          background-image: url('../img/facebook.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
        }

        &.youtube {
          background-image: url('../img/youtube.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 22px;
        }

        &.twitter {
          background-image: url('../img/twitter.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
        }

        &.instagram {
          background-image: url('../img/instagram.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 22px;
        }

        &.linkedin {
          background-image: url('../img/linkedin.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 22px;
        }

        &:hover {
          opacity: 0.6;
        }

      }
    }
  }

  @media (max-width: 745px) {
    padding: 20px 0px;

    .left-wrapper {
      float: none;
    }

    .right-wrapper {
      float: none;

      .social-media-widget {
        margin-right: 0px;
        float: none;
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 560px) {
    .wrapper {
      padding-right: 0px;
      padding-top: 70px;
    }
  }

  @media (max-width: 450px)
  {
    .links {
      ul {
        li
        {
          &:nth-child(3) {
            display: block;
            padding-left: 0px;
          }
        }
      }
    }
  }
}

.cookie-notice-widget {
  background-color: #7a85a8;
  color: #fff;
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: translate3d(0, 150%, 0);
  transition: all 300ms ease;
  z-index: 9;

  a {
    color: #fff;
  }

  .inner-content {
    max-width: 1300px;
    margin: 0px auto;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .message {
    padding: 0px 20px 0px 10px;
  }

  .buttons {
    white-space: nowrap;
    padding: 0px 10px;
    a {
      padding: 5px 10px;
      background-color: #1b204c;
      color: #fff;
      border-radius: 3px;
      margin-right: 5px;
      transition: all 300ms ease;

      &:last-child {
        margin-left: 0px;
      }

      &:hover {
        background-color: #dfdfef;
        color: #1b204c;
      }
    }
  }

  .links {
    padding: 0px 10px;
    white-space: nowrap;

    a {
      text-decoration: underline;
    }
  }

  a.close {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url('../img/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
  }

  &.expand {
    transform: translate3d(0, 0, 0);
  }

  @media (max-width: 1200px)
  {
    .inner-content {
      flex-wrap: wrap;
      text-align: center;
    }

    .message {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }

  }

  @media (max-width: 1200px)
  {
    .inner-content {
      display: block;
    }

    .message {
      display: block;
      margin-bottom: 20px;
    }

    .buttons {
      margin-bottom: 20px;
    }

  }
}

/* #cookie-notice {
  .cookie-notice-container {
    display: flex !important;
    max-width: 1262px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
  }

  .cn-buttons-container
  {
    white-space: nowrap;
  }

  .cn-text-container {
    text-align: left;
  }

  .cn-close-icon
  {
    display: none;
  }

  .cn-button {
    background-color: #1b204c;
    transition: all 300ms ease;

    &:hover {
      background-color: #dcdff3;
      color: #1b204c;
    }
  }

  .cn-more-info.cn-button
  {
    background-color: transparent;
    text-decoration: underline;

    &:hover {
      box-shadow: none;
      color: #FFF;
    }
  }
} */