.message-popup {
    background-color: #fff;
    max-width: 600px;
    margin: 0px auto;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding: 30px;
  
    h5 {
      color: #1b204c;
    }
  
    p {
      color: #666;
  
      &.links {
        color: #1b204c;
        line-height: 1.4;
  
        a 
        {
          color: #1b204c;
          text-decoration: none;
          transition: all 250ms ease;

          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
      }
  
      &.credits {
        line-height: 1.4;
      }
    }
  
    .btn {
      padding: 5px 15px;
      background-color: #1b204c;
      color: #FFF;
      display: inline-block;
      border-radius: 5px;
    }
  
    @media (max-width: 400px)
    {
      padding: 30px 20px;
    }
  }