.general-slider-widget {
  margin-bottom: 20px;

  .wrapper {
    position: relative;
  }

  .slider {
    .slide {

      .inner-wrapper {
        height: 450px;
        background-position: center;
        background-size: cover;
        position: relative;
      }
    }
  }

  .arrows-wrapper {
    position: relative;
    bottom: 225px;
  }

  .links
  {
    position: absolute;
    padding: 18px 18px 0px;
    z-index: 1;

    a {
      display: inline-block;
      border-radius: 3px;
      background-color: #dedeef;
      padding: 6px 18px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #1b204c;
      margin-right: 7px;
      transition: all 250ms ease;

      &:last-child {
        margin-right: 0px;
      }

      &.active {
        background-color: #1b204c;
        color: #FFF;
      }

      &:hover {
        opacity: 0.7;
      }

    }
  }

  .slick-next, .slick-prev {
    background-color: #d1c7b6;
    //top: 50%;
    margin-top: -22px;
    transition: all 250ms ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .slick-next {
    right: 40px;
  }

  .slick-prev {
    left: 40px;
  }

  @media (max-width:540px)
  {
    .links {
      padding: 10px 10px 0px;

      a {
        padding: 0px 4px;
        margin-bottom: 6px;
        margin-right: 6px;
      }
    }
  }


  @media (max-width:420px)
  {
    margin-bottom: 90px;

    .slider {
      .slide {
        .inner-wrapper {
          height: 350px;
        }
      }
    }

    .arrows-wrapper {
      bottom: 0px;
    }

    .slick-prev, .slick-next {
      bottom: -60px;
      top: auto;
      margin-top: 0px;
    }

    .slick-next {
      left: 53%;
      right: auto;
    }

    .slick-prev {
      right: 53%;
      left: auto;
    }
  }
}