#header {

  .search-form {
    border-radius: 50px;
    padding-right: 15px;
    overflow: hidden;
    position: relative;
    transition: all 250ms ease;
    top: -1px;
    margin-right: 0px;

    input[type=text] {
      font-size: 16px;
      letter-spacing: 0.8px;
      color: #000000;
      background-color: transparent;
      text-transform: uppercase;
      border: 0px none;
      outline: 0;
      width: 64px;
      transition: all 250ms ease;
      position: relative;
      top: -1px;
      height: 28px;

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    input[type=submit] {
      background-color: #1a204b;
      background-image: url('../img/white-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 28px;
      height: 28px;
      text-indent: -99px;
      overflow: hidden;
      border: 0px none;
      border-radius: 50px;
      position: absolute;
      right: 120%;
      visibility: hidden;
      opacity: 0;
      transition: all 250ms ease;
      top: 1px;
    }

    &.expand {
      background-color: rgba(222, 223, 241, 0.41);
      margin-right: 20px;

      input[type=text] {
        padding-left: 10px;
        width: 200px;
        top: -2px;
      }
    }

    &.valid {
      input[type=submit] {
        right: 0%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .top-wrapper {
    .logo {
      padding: 12px 0px 26px;
      float: left;
    }

    .right-wrapper {
      float: right;
      margin-top: 38px;

      .search-form {
        float: left;
      }

      .secondary-nav-wrapper /*, .lang-switch*/ {
        float: right;

        ul {
          list-style: none;
          margin: 0px;

          li {
            display: inline-block;
            border-left: 1px solid #f4f4f4;

            /*&:last-child {
              border-right: 0px none;
            }*/

            &.home {
              a {
                color: #1b204c;
                font-weight: 600;
              }
            }
          }
        }

        a {
          color: #b2b2b2;
          text-transform: uppercase;
          font-size: 15px;
          padding: 0px 15px;
          display: inline-block;
          line-height: 26px;
          transition: all 400ms ease;

          &:last-child {
            //border-right: 0px none;
          }

          &:hover {
            opacity: 0.6;
          }
        }

        .menu-item-has-children {
          display: inline-block;
          position: relative;
          font-size: 0px;
          line-height: 0;

          > a {
            padding-right: 30px;
            background-image: url('../img/light-blue-solid-arrow-down.svg');
            background-repeat: no-repeat;
            background-position: top 10px right 10px;
          }

          .sub-menu {
            position: absolute;
            top: 100%;
            background-color: #FFF;
            border: 1px solid #e8e8e8;
            transform: translateY(-10px);
            opacity: 0;
            visibility: hidden;
            transition: all 250ms ease;
            box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
            padding: 5px 0px;
            z-index: 9;

            li {
              width: 100%;
              border-right: 0px none;
            }

            a {
              width: 100%;
              padding: 10px 15px;
            }
          }

          &.open, &:hover {
            .sub-menu {
              opacity: 1;
              transform: translateY(0px);
              visibility: visible;
            }
          }
        }
      }

      /*.lang-switch {
        ul {
          li {
            border-right: 0px;
          }
        }
      }*/
    }
  }

  .responsive-nav {
    background-color: #dedff0;
    max-height: 0px;
    overflow: hidden;
    padding: 0px 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease;

    .nav-wrapper {
      max-width: 320px;
      margin: 0px auto;
      background-color: transparent;

      ul {
        li {
          display: block;
          text-align: center;
          margin-bottom: 20px;
          transition: all 400ms ease;
        }
      }

      a {
        line-height: 45px;
      }

    }

    .secondary-nav-wrapper {
      max-width: 320px;
      margin: 0px auto;

      a {
        text-align: center;
        line-height: 40px;
        color: #1b204c;
      }

      ul {
        li {
          display: block;
          margin-bottom: 20px;
          transition: all 400ms ease;
          text-align: center;

          &.home {
            a {
              font-weight: 600;
              text-transform: uppercase;
            }
          }
        }
      }

      .menu-item-has-children {
        > a {
          &:after {
            content: url('../img/dropdown-icon.svg');
            margin-left: 10px;
          }
        }

        .sub-menu {
          padding-left: 30px;

          a {
            &:before {
              content: '';
              display: inline-block;
              background-image: url(../img/dark-blue-line-arrow-right.svg);
              width: 15px;
              height: 12px;
              margin-right: 10px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    .search-form {
      max-width: 320px;
      margin: 0px auto 20px;
      background-color: #FFF;
      top: 0px;

      input[type=text] {
        width: 100%;
        padding-left: 15px;
      }

      input[type=submit] {
        /*right: 0px;
        visibility: visible;
        opacity: 1;*/
      }
    }
  }

  .nav-wrapper {
    background: #dedff0;

    nav {
      font-size: 0px;
      line-height: 0px;
    }

    ul {
      list-style: none;
      text-align: justify;
      font-size: 0px;
      margin: 0px;

      li {
        display: inline-block;

        /* START: IE 11 & Greater */

        _:-ms-fullscreen &, :root & {
          padding: 0px 10px;
        }
        &.current-menu-item {
          opacity: .6;
        }

        /* END: IE 11 & Greater */

        &.custom-case a {
          text-transform: initial;
        }
      }

      &:after {
        width: 100%;
        content: '';
        display: inline-block;
      }
    }

    a {
      //font-family: 'Myriad Pro Semibold';
      font-size: 17px;
      color: #1b204c;
      font-weight: 600;
      display: inline-block;
      line-height: 62px;
      text-transform: uppercase;

      &:hover {
        opacity: 0.7;
      }
    }

  }

  &.expand-menu .responsive-nav {
    padding: 30px 20px 20px;
    max-height: 1000px;
    visibility: visible;
    opacity: 1;

    .nav-wrapper {
      ul
      {
        li {
          margin-bottom: 0px;
        }
      }
    }

    .secondary-nav-wrapper {
      ul {
        li {
          margin-bottom: 0px;
        }
      }
    }
  }


  @media (max-width: 420px) {
      .top-wrapper {
        .logo {
          max-width: 160px;
          margin: 5px 0px;
          padding-bottom: 12px;
        }

        .right-wrapper {
          margin-top: 25px;
        }
      }
  }
}

#hamburger {
  width: 34px;
  height: 24px;
  cursor: pointer;
  float: right;
  background-image: url('../img/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
  background-size: contain;
  display: none;
  will-change: background-image;
  transition: background-image 300ms ease;

  .expand-menu & {
    background-image: url('../img/close.svg');
  }
  
  @media (max-width: 960px) {
    display: block;
  }
}
