.hero-slider-widget {
  margin-bottom: 20px;

  .slider {
    .slide {

      .inner-wrapper {
        height: 450px;
        background-position: center;
        background-size: cover;
        position: relative;

        &:before {
          content: '';
          display: block;
          background: linear-gradient(80deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 90%);
          width: 50%;
          //min-width: 600px;
          height: 100%;
          position: absolute;
          bottom: 0px;
          left: 0px;
          z-index: 1;
        }

      }

      .overlay-wrapper {
        position: relative;
        height: 100%;
      }

      .overlay {
        position: absolute;
        left: 38px;
        bottom: 32px;
        z-index: 9;
        padding: 0px 20px;
        max-width: 600px;

        .caption-wrapper {
          //font-family: 'Myriad Pro Bold', sans-serif;
          font-weight: 700;
          font-size: 42px;
          line-height: 0.96;
          color: #1b204c;
          text-transform: uppercase;
          margin-bottom: 30px;
          position: relative;

          span {
            &.caption {
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 9;
              transition: all 300ms ease;
            }

            &.bg {
              background: rgba(255, 255, 255, 0.6);
              box-shadow: 0px 0px 50px 56px rgba(255, 255, 255, 0.6);
              border-radius: 50px;

              @-moz-document url-prefix() {
                background: transparent;
                box-shadow: none;
              }
            }
          }

          a {
            color: #1b204c;
          }
        }

        a.btn {
          border-radius: 3px;
          background-color: #7a84a6;
          color: #FFF;
          text-transform: uppercase;
          padding: 10px 40px;
          display: inline-block;
          position: relative;
          transition: all 250ms ease;

          &:hover {
            background-color: #9da8cb;
          }
        }
      }

      .bottom-gradient {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);

        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 122px;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
          position: absolute;
          bottom: 0px;
          left: 0px;
        }
      }
    }

    &:not(.slick-initialized) {
      .slide {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  .arrows-wrapper {
    position: relative;
  }

  .slick-next, .slick-prev {
    background-color: #7a84a6;
    bottom: 30px;
    transition: all 250ms ease;

    &:hover {
      background-color: #9da8cb;
    }
  }

  .slick-next {
    right: 56px;
  }

  .slick-prev {
    right: 115px;
  }

  @media (max-width: 960px) {
    .slider {
      .slide {
        .overlay {
          .caption-wrapper {
            font-size: 36px;
          }
        }
      }
    }
  }

  @media (max-width:768px)
  {
    .slider {
      .slide {
        .overlay {
          left: 0px;

          .caption-wrapper {
            &.caption-linked {
              margin-bottom: 78px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .slider {
      .slide {
        .overlay {
          .caption-wrapper {
            font-size: 24px;
            margin-bottom: 20px;

            &.caption-linked {
              margin-bottom: 68px;
            }
          }
        }
      }
    }
  }

  @media (max-width:420px)
  {
    margin-bottom: 90px;

    .slider {
      .slide {
        .inner-wrapper {
          height: 350px;

          &:before {
            opacity: 0.5;
          }
        }

        .overlay {
          right: 0px;
          bottom: 20px;

          .caption-wrapper {
            margin-bottom: 10px;

            span {
              &.bg {
                opacity: 0.5;
              }
            }

            &.caption-linked {
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .slick-prev, .slick-next {
      bottom: -50px;
    }

    .slick-next {
      left: 53%;
      right: auto;
    }

    .slick-prev {
      right: 53%;
    }
  }
}