.history-widget {
  max-width: 900px;
  margin: 100px auto;

  .items {
    position: relative;

    .item {
      width: 50%;
      padding-top: 76px;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        background-color: #b6b8dd;
        border-radius: 10px;
        position: absolute;
        top: 90px;

        z-index: 10;
      }

      h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 0.97;
        color: #b6b8dd;
        margin-bottom: 25px;
      }

      h4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.94;
        color: #1b204c;
        text-transform: uppercase;
      }

      p {
        font-size: 16px;
        line-height: 1.69;
        color: lighten(#1b204c, 20);
        margin: 0px;
      }

      &:first-child {
        padding-top: 0px;

        &:before {
          top: 12px;
        }
      }

      &:nth-child(2) {
        padding-top: 100px;

        &:before {
          top: 110px;
        }
      }

      &:nth-child(2n+1) {
        padding-left: 45px;
        //text-align: left;
        float: right;

        &:before {
          left: -7px;
        }

        p {
          //text-align: left;
        }
      }

      &:nth-child(2n+2) {
        float: left;
        padding-right: 45px;
        text-align: right;

        &:before {
          right: -6px;
        }

        p {
          text-align: right;
        }
      }

    }

    .line {
      width: 2px;
      background-color: #e9e9f4;
      position: absolute;
      left: 50%;
      margin-left: -1px;
      z-index: 9;
    }
  }

  @media (max-width: 640px) {
    margin: 50px auto;

    .items {
      .item {
        width: 100%;
        padding-top: 40px;

        h2 {
          margin-bottom: 15px;
        }

        h4 {
          margin-bottom: 10px;
          line-height: 1.5;
        }

        &:before {
          top: 54px;
        }

        &:nth-child(2) {
          padding-top: 40px;

          &:before {
            top: 54px;
          }
        }

        &:nth-child(2n+1) {
          float: none;
          padding-left: 30px;
        }

        &:nth-child(2n+2) {
          float: none;
          padding-right: 0px;
          padding-left: 30px;
          text-align: left;

          &:before {
            left: -7px;
            right: auto;
          }

          p {
            text-align: left;
          }
        }
      }

      .line {
        left: 0px;
      }
    }
  }
}