.icon-accordions-widget {
  margin: 0px auto 30px;

  .items {
    .item {
      float: left;
      width: 20%;
      padding: 0px 7px;
      cursor: pointer;
      margin: 10px 0px;

      .inner-wrapper {
        border-radius: 3px;
        box-shadow: 0 1px 12px 0 rgba(109, 109, 109, 0.16);
        background-color: #ffffff;
        padding: 8px 12px;
        border: 3px solid transparent;
        transition: all 250ms ease;
      }

      /*img {
        max-height: 63px;
        width: auto;
        margin: 0px auto 8px;
        display: block;
      }*/

      .img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0px auto 8px;
        height: 100px;
      }

      .title-wrapper {
        position: relative;
      }

      h6 {
        font-size: 13px;
        font-weight: 600;
        color: #1b204c;
        text-transform: uppercase;

        padding-right: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }

      .toggle-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #f8f8f9;
        border-radius: 20px;

        &::before, &::after {
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          background-color: #979797;
          position: absolute;
          top: 11px;
          left: 7px;
        }

        &:after {
          transform: rotate(90deg);
          transition: all 200ms ease;
        }

      }

      .content {
        display: none;
      }

      &:hover {
        .inner-wrapper {
          border: solid 3px rgba(27, 32, 76, 0.51);
        }
      }

      &.active {
        .inner-wrapper {
          border: solid 3px #1b204c;
        }

        .toggle-icon {
          background-color: #e8eaf2;

          &:after {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .content {
    background-color: #f6f6f8;
    padding: 30px 0px;
    margin: 30px 0px;

    h3 {
      font-size: 26px;
      font-weight: 700;
      line-height: 1.42;
      color: #1b204c;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: block;
    }

    .text-content {
      column-gap: 30px;
      column-count: 2;
    }

    p {
      line-height: 1.69;
      margin: 0px;
      padding: 7px 0px;
    }

    .buttons {
      margin: 60px -5px 15px;

      > div {
        width: 50%;
        padding: 0px 5px;
        float: left;
      }

      a {
        border-radius: 3px;
        background-color: #515a79;
        text-shadow: 0 1px 2px rgba(45, 143, 152, 0.07);
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        //padding: 14px;
        line-height: 63px;
        width: 100%;
        display: block;
        text-transform: uppercase;
        transition: all 200ms ease;

        &.download-brochure {
          background-color: #bdb4a6;

          &:before {
            content: '';
            display: inline-block;
            background-image: url('../img/download.svg');
            background-repeat: no-repeat;
            width: 23px;
            height: 28px;
            position: relative;
            top: 5px;
            margin-right: 15px;
          }

          &:hover {
            background-color: rgba(189, 180, 166, 0.8);
          }
        }

        &:hover {
          background-color: rgba(81, 90, 121, 0.81);
        }
      }
    }

  }

  @media (max-width: 1000px) {
    .items {
      .item {
        width: 25%;
      }
    }
  }

  @media (max-width: 960px) {
    .content {
      h3 {
        font-size: 22px;
      }
    }
  }

  @media (max-width: 830px) {
    .items {
      .item {
        width: 33.33%;
      }
    }
  }

  @media (max-width: 700px) {
    .content {
      .text-content {
        column-count: 1;
        column-gap: 0px;
      }
    }
  }

  @media (max-width: 640px) {
    .items {
      .item {
        width: 50%;
      }
    }

    .content {
      h3 {
        font-size: 18px;
        bottom: 0px;
      }

      .buttons {
        margin-top: 30px;
        margin-bottom: 0px;

        a {
          line-height: 50px;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .content {
      .buttons {
        > div {
          width: 100%;

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  @media (max-width: 410px) {
    .items {
      .item {
        width: 100%;
      }
    }
  }
}

.coverage-map-popup {
  background-color: #fff;
  max-width: 920px;
  margin: 0px auto;
  padding: 64px;
  border-radius: 3px;
  position: relative;

  .close {
    width: 30px;
    height: 30px;
    background-color: #646d8b;
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 20px;
    transform: rotate(45deg);

    &:hover {
      opacity: 0.8;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: 14px;
      height: 2px;
      background-color: #FFF;
      position: absolute;
      top: 14px;
      left: 8px;
    }

    &:after {
      transform: rotate(90deg);
      transition: all 200ms ease;
    }
  }

  @media (max-width:640px)
  {
    padding: 15px;
    .close {
      top: -38px;
    }
  }
}

