.image-slider-widget {
  margin-bottom: 20px;

  .wrapper {
    position: relative;
  }

  .slider {

    .slide {

      .inner-wrapper {
        height: 450px;
        background-position: center;
        background-size: cover;
        position: relative;
      }
    }

    .slick-next, .slick-prev {
      background-color: #d1c7b6;
      top: 50%;
      margin-top: -22px;
      transition: all 250ms ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .slick-next {
      right: 20px;
    }

    .slick-prev {
      left: 20px;
    }
  }



  @media (max-width:420px)
  {
    margin-bottom: 90px;

    .slider {

      .slide {
        .inner-wrapper {
          height: 350px;
        }
      }

      .slick-prev, .slick-next {
        bottom: -60px;
        top: auto;
        margin-top: 0px;
      }

      .slick-next {
        left: 53%;
        right: auto;
      }

      .slick-prev {
        right: 53%;
        left: auto;
      }
    }
  }
}