.key-points-widget
{
  h5 {
    font-size: 20px;
    font-weight: 700;
    color: #1b204c;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  > div {
    background-color: rgba(27, 32, 76, 0.04);
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: normal;
    color: #2a2a2a;
  }


}