.link-ctas-group-widget {
  //max-width: 1042px;
  margin: 0px auto 30px;
  position: relative;

  .items {
    margin: 0px -10px;

    .item {
      padding: 0px 10px;
      float: left;
      width: 33.33%;
      margin-bottom: 20px;

      .content {
        padding: 50px 34px;
        background-color: #dbdde9;
      }

      h3 {
        font-size: 26px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: normal;
        color: #1b204c;
        text-transform: uppercase;
      }

      p {
        opacity: 0.7;
        line-height: 1.56;
        letter-spacing: normal;
        color: #414145;
        margin: 10px 0px;
      }

      .links {
        a {
          display: block;
          height: 45px;
          border-radius: 3px;
          background-color: #515a79;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          margin-bottom: 15px;
          padding: 7px 0px;

          &:hover {
            opacity: 0.7;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      &.alt {
        .content {
          background-color: #f0ece6;
        }

        .links {
          a {
            background-color: #b5ab9a;
          }
        }

        p {
          color: #4c4b49;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .items {
      .item {
        width: 50%;
      }
    }
  }

  @media (max-width: 640px) {
    .items {
      .item {
        float: none;
        width: 100%;
        max-width: 420px;
        margin: 0px auto 20px;
      }
    }
  }

  @media (max-width: 380px) {
    .items {
      .item {
        .content {
          padding: 30px 20px;
        }
      }
    }
  }
}