.lity {
  background-color: rgba(0, 0, 0, 0.4);
}

.lity-close {
  display: none;
}

.lity-content:after {
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
}

.lity-wrap:before {
  margin-right: 0px !important;
}
