.maritime-services-widget {

  .items {
    margin: 0px -9px;

    .item {
      width: 50%;
      float: left;
      padding: 0px 9px;
      margin-bottom: 20px;

      &:hover
      {
        .inner-wrapper {
          &:before, &:after {
            opacity: 0.7;
          }
        }
        h6 {
          background-position: center right 0px;
        }
      }
    }

    .inner-wrapper {
      height: 178px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      transition: all 250ms ease;
      border: 1px solid #CCC;

      &:after, &:before {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        content: '';
        display: block;
        transition: all 250ms ease;
      }

      &:before {
        //background-image: linear-gradient(90deg, rgba(122, 132, 166, 0.59) 40%, rgba(122, 132, 166, 0) 82%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.59) 40%, rgba(255, 255, 255, 0) 82%);
      }

      &:after {
        background-image: linear-gradient(90deg, #FFF 20%, rgba(255, 255, 255, 0) 79%);
      }
    }

    .overlay {
      position: absolute;
      top: 0px;
      left: 60px;
      text-align: center;
      z-index: 9;
    }

    h6 {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.5px;
      text-align: center;
      color: #1b204c;
      padding-right: 40px;
      text-transform: uppercase;

      background-image: url('../img/blue-line-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center right 10px;
      display: inline-block;
      transition: all 250ms ease;
    }

    .icon {
      margin-right: 10px;
      height: 86px;
      background-position: left center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      margin-top: 28px;
      margin-bottom: 5px;
    }
  }


  @media (max-width:640px)
  {
      .items {
        .item {
          width: 100%;
        }

        .overlay {
          left: 20px;
        }
      }
  }
}