.media-kit-widget {
  margin-bottom: 50px;

  .header {
    margin-bottom: 40px;

    .filters {
      float: right;
      margin-top: 35px;

      .dropdown {
        display: inline-block;

        select {
          width: 120px;

          font-size: 18px;
          font-weight: 600;
          color: #1b204c;
          padding: 13px 40px 14px 18px;
          appearance: none;
          border-radius: 3px;
          box-shadow: 0 2px 12px 0 rgba(97, 97, 97, 0.12);
          border: solid 2px #515a79;
          background-color: #ffffff;
          outline: none;
          background-image: url(../img/dark-blue-arrow-down.svg);
          background-repeat: no-repeat;
          background-position: top 20px right 15px;
        }
      }

      .search-field {
        display: inline-block;
        width: 253px;
        height: 49px;
        padding: 7px 20px;
        border-radius: 25px;
        border: solid 1px #dedede;
        background-color: #f7f7f7;
        margin-right: 10px;
        position: relative;

        input[type=text] {
          font-size: 18px;
          color: #1b204c;
          border: 0px none;
          background-color: transparent;
          outline: none;
          font-weight: 600;

          &::placeholder {
            color: #1b204c;
          }
        }

        a.close {
          width: 20px;
          height: 20px;
          background-color: #b6b8dd;
          border-radius: 20px;
          background-image: url('../img/cross.svg');
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 13px;
          right: 5px;
          z-index: 9;
          display: none;
        }

        &.has-keyword {
          a.close {
            display: block;
          }
        }
      }
    }
  }

  .downloads {
    h6 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.44px;
      color: #a4a6b8;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .items {
      margin: 0px -8px;

      .item {
        float: left;
        width: 50%;
        padding: 0px 8px;
        position: relative;
        margin-bottom: 20px;

        .inner-wrapper {
          width: 100%;
          height: 394px;
          background-color: #EDEEF5;
        }

        /*.bg-img {
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        .pattern {
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
        }

        .img {
          height: 205px;
          position: absolute;
          top: 50%;
          left: 35px;
          right: 35px;
          margin-top: -100px;
          z-index: 9;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }*/

        h3 {
          font-size: 28px;
          font-weight: 600;
          color: #1b204c;
        }

        p {
          font-size: 16px;
          line-height: 1.44;
          color: #1b204c;
          margin: 0px;
        }

        .text-overlay {
          position: absolute;
          top: 25px;
          left: 28px;
          right: 28px;
        }

        .download-overlay {
          position: absolute;
          bottom: 36px;
          text-align: center;
          left: 0px;
          right: 0px;
          text-align: center;
          z-index: 9;
        }

        .download {
          border-radius: 3px;
          background-color: #b6b8dd;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.59px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          display: inline-block;
          padding: 11px 40px;

          &:hover {
            background-color: #bdbfe6;
          }
        }

        &.corporate-id {
          .pattern {
            background-position: bottom 150px center;
          }
        }

        &.corporate-brochure {
          .img {
            top: 58%;
            height: 260px;
          }
        }

        &.full {
          width: 100%;

          .inner-wrapper {
            height: auto;
            padding: 30px 25px;
            padding-right: 250px;
            position: relative;

          }

          h5 {
            font-size: 22px;
            font-weight: 600;
            color: #1b204c;
            line-height: 1;
            margin-bottom: 10px;
          }

          .right {
            position: absolute;
            top: 28px;
            right: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 20px;

    .header {
      .filters {
        float: none;
        width: 100%;

        .search-field {
          width: 100%;
          margin-right: 0px;
        }
      }
    }

    .downloads {
      .items {
        .item {
          width: 100%;

          &.full {
            .inner-wrapper {
              padding-right: 25px;

              .left {
                margin-bottom: 30px;
              }

              .right {
                position: relative;
                top: 0px;
                right: 0px;
              }
            }
          }
        }
      }
    }

  }
}