.need-accordions-widget {
  margin: 40px auto;

  .item {
    background-color: #f1f2f7;
    padding: 16px 0px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: '';
      display: block;
      background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 39%);
    }

    .container {
      position: relative;
    }

    .title {
      position: relative;
      &:after {
        content: '';
        background-image: url('../img/grey-solid-arrow-down.svg');
        background-size: 15px;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 0px;
        transition: all 250ms ease;
      }

      h5
      {
        font-size: 24px;
        font-weight: 700;
        color: #1b204c;
        text-transform: uppercase;
        max-width: 630px;
        line-height: 1.4;
        padding-right: 30px;
      }
    }

    .content {
      max-height: 0px;
      overflow: hidden;
      padding-bottom: 0px;
      max-width: 630px;
      transition: all 250ms ease;

      ul, ol {
        padding-left: 22px;
      }

      ol {
        li {
          padding-left: 10px;
        }
      }
    }

    &.expand {
      .title {
        &:after {
          transform: rotate(180deg);
        }
      }

      .content {
        max-height: 1000px;
        padding-bottom: 20px;
        transition: all 250ms ease;
      }
    }
  }
}