.news-widget {
  //max-width: 1080px;
  margin: 40px auto;

  h3 {
    font-size: 24px;
    //font-family: 'Myriad Pro Bold';
    font-weight: 700;
    line-height: 1.54;
    color: #7a84a6;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }

  .items {
    margin: 0px -12px;
  }

  .item {
    padding: 0px 12px;
    width: 33.33%;
    float: left;
    transition: all 250ms ease;

    img {
      margin-bottom: 15px;
      width: 100%;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.22;
      letter-spacing: normal;
      color: #1b204c;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    div.date-n-location {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.86px;
      color: #909091;
      margin-bottom: 10px;

      span {
        &:first-child {
          padding-right: 50px;
        }
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }
  
  @media (max-width:768px)
  {
      .items {
        margin: 0px -5px;
      }

      .item {
        padding: 5px;
      }
  }

  @media (max-width:640px)
  {
      .item {
        width: 50%;
      }
  }

  @media (max-width:450px)
  {
      .item {
        width: 100%;
      }
  }
}