.news-event-detail-widget {
  margin-bottom: 50px;

  h1 {
    //font-size: 54px;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    //max-width: 645px;
    margin-bottom: 30px;
    color: #1b204c;
  }

  div.date-n-location {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.86px;
    color: #909091;
    margin-bottom: 30px;

    div {
      &:first-child {
        padding-right: 50px;
        float: left;
      }

      &:last-child {
        overflow: hidden;
      }
    }
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .cat {
    width: 59.39%;
    height: 30px;
    position: absolute;
    left: 30px;
    bottom: 0px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    background-color: #e4e5ed;
    color: #808bae;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 30px;
  }

  .text-content-widget {
    p {
      font-size: 20px;
      line-height: 1.6;
      color: #1b204c;
      margin: 35px 0px;
      max-width: 100%;
    }

    ul {
      li {
        font-size: 20px;
        line-height: 1.6;
        color: #1b204c;
        margin: 25px 0px;
      }
    }
  }

  @media (max-width: 960px) {
    h1 {
      font-size: 38px;
      margin-bottom: 10px;
    }

    div.date-n-location {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 30px;

    h1 {
      font-size: 28px;
    }
  }
}
