.news-events-widget {
  position: relative;
  margin-bottom: 50px;

  .filters{
    margin: 58px 0px 40px;

    .search-field {
      width: 253px;
      height: 49px;
      border-radius: 24.5px;
      padding: 9px 20px;
      float: left;
      box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.04);
      background-color: #e4e5ed;
      position: relative;

      input[type=text] {
        font-size: 18px;
        color: #1b204c;
        border: 0px none;
        background-color: transparent;
        outline: none;

        &::placeholder {
          color: #1b204c;
        }
      }

      a.close {
        width: 20px;
        height: 20px;
        background-color: #b6b8dd;
        border-radius: 20px;
        background-image: url('../img/cross.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 15px;
        right: 6px;
        z-index: 9;
        display: none;
      }

      &.has-keyword {
        a.close {
          display: block;
        }
      }
    }

    .categories
    {
      float: right;
      padding: 6px 0px 0px;

      label {
        display: inline-block;
        margin-right: 7px;
        transition: all 250ms ease;
        cursor: pointer;

        div {
          border-radius: 3px;
          background-color: #dedeef;
          padding: 6px 18px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: #1b204c;
        }

        input[type=checkbox]
        {
          display: none;

          &:checked ~ div {
            background-color: #1b204c;
            color: #FFF;
          }
        }

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          opacity: 0.7;
        }

      }
    }

  }

  .items {
    margin: 0px -15px;
  }

  .item {
    float: left;
    width: 50%;
    padding: 0px 15px;
    margin-bottom: 25px;

    a {
      display: block;
      transition: all 250ms ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .thumb-wrapper {
      position: relative;
      padding-top: 59.39%;
      height: 0px;
      margin-bottom: 14px;
    }

    .cat {
      width: 59.39%;
      height: 30px;
      position: absolute;
      left: 30px;
      bottom: 0px;
      transform: rotate(-90deg);
      transform-origin: left bottom;
      background-color: #e4e5ed;
      color: #808bae;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 30px;

      &.hidden {
        display: none;
      }
    }

    .img {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    h5 {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.27;
      color: #1b204c;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    div.date-n-location {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.86px;
      color: #909091;
      margin-bottom: 5px;

      span {
        &:first-child {
          padding-right: 50px;
        }
      }
    }

    &:hover {

      .cats {
        > div {
          &:before {
            height: 100%;
          }

          div {
            color: #FFF;
          }
        }
      }
    }
  }

  .loading-overlay {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.8);
    padding-top: 200px;
  }

  .load-more {
    text-align: center;
    margin-top: 30px;
    a {
      background: #1b204c;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #FFF;
      text-transform: uppercase;
      padding: 15px 25px;
      line-height: 1;
      display: inline-block;
      border-radius: 3px;

      &:hover {
        opacity: 0.8;
      }
    }

    .loader {
      display: none;
    }

    &.loading {
      a {
        display: none;
      }
      .loader {
        display: block;
      }
    }
  }

  .no-results
  {
    display: none;
    font-size: 16px;
    text-align: center;
  }

  &.no-more {
    .load-more {
      display: none;
    }
  }

  &.no-results {
    .no-results {
      display: block;
    }
  }

  &.loading {
    .loading-overlay {
      display: block;
    }
  }

  @media (max-width: 1024px)
  {
    .items {
      margin: 0px -10px;
    }

    .item {
      padding: 0px 10px;
    }
  }

  @media (max-width:768px)
  {
    .items {
      margin: 0px -5px;
    }

    .item {
      padding: 5px;
    }
  }

  @media (max-width:640px)
  {
    margin-bottom: 30px;

    .filters {
      margin: 40px 0px 20px;

      .search-field
      {
        margin-bottom: 10px;
      }

      .categories {
        float: left;

        label
        {
          margin-bottom: 10px;
        }
      }
    }

    .item {
      width: 100%;
    }
  }
}