.not-found-widget {
  max-width: 520px;
  margin: 150px auto 100px;
  text-align: center;

  h1 {
    color: #ebecf5;
    font-size: 250px;
    text-align: center;
    line-height: 1;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #1b204c;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 1.69;
    text-align: center;
    color: #1b204c;
  }

  a.back {
    border-radius: 3px;
    background-color: #b6b8dd;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.59px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px 40px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  @media (max-width:640px)
  {
    margin: 50px auto 50px;
      h1 {
        font-size: 140px;
      }

      h3 {
        font-size: 22px;
      }
  }
}