.our-offerings-widget {

  .items {
    margin: 0px -15px;

    .item {
      padding: 0px 15px;
      float: left;
      width: 33.33%;
      margin-bottom: 40px;

      .inner-wrapper {
        padding-bottom: 51px;
        position: relative;
      }

      .img {
        height: 120px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: #1b204c;
        text-transform: uppercase;
        text-align: center;
      }

      p{
        font-size: 15px;
        line-height: 1.4;
        color: #1b204c;
        margin: 0px 0px 15px;
      }

      a {
        border-radius: 3px;
        background-color: #515a79;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        padding: 10px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        transition: all 200ms ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @media (max-width:768px)
  {
    .items {
      .item {
        width: 50%;
      }
    }
  }

  @media (max-width:640px)
  {
    //margin-bottom: 30px;

    .items {
      .item {
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  @media (max-width:560px)
  {
     .items {
       .item {
         width: 100%;
       }
     }
  }
}