.press-contacts-widget {
  float: left;
  max-width: 60%;

  h6 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.44px;
    color: #a4a6b8;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .contacts {
    .contact {
      min-width: 260px;
      border-radius: 4px;
      background-color: #f7f7f7;
      padding: 10px 15px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 8px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .name {
      font-size: 16px;
      font-weight: 600;
      color: #1b204c;
      line-height: 1;
      margin-bottom: 7px;
    }

    .job-title {
      font-size: 14px;
      color: #9395a9;
      line-height: 1;
    }

    .right {
      float: right;
      font-size: 0px;
    }

    .left {
      overflow: hidden;
      padding-right: 20px;
    }

    a {
      display: inline-block;
      width: 18px;
      height: 37px;
      margin-left: 15px;
      background-repeat: no-repeat;
      background-position: center;

      &:first-child {
        margin-left: 0px;
      }

      &:hover {
        opacity: 0.7;
      }

      &.phone {
        background-image: url('../img/phone.svg');
      }

      &.email {
        background-image: url('../img/mail.svg');
      }
    }
  }

  @media (max-width:1020px)
  {
    max-width: 100%;
  }

  @media (max-width:640px)
  {
    width: 100%;
    float: none;

      .contacts {
        .contact {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
  }
}