.press-releases-widget {
  margin-bottom: 50px;

  .header {
    margin-bottom: 40px;

    .filters {
      float: right;
      margin-top: 35px;

      .dropdown {
        display: inline-block;
        float: right;

        select {
          width: 120px;

          font-size: 18px;
          font-weight: 600;
          color: #1b204c;
          padding: 13px 40px 14px 18px;
          appearance: none;
          border-radius: 3px;
          box-shadow: 0 2px 12px 0 rgba(97, 97, 97, 0.12);
          border: solid 2px #515a79;
          background-color: #ffffff;
          outline: none;
          background-image: url(../img/dark-blue-arrow-down.svg);
          background-repeat: no-repeat;
          background-position: top 20px right 15px;
        }
      }

      .search-field {
        float: right;
        display: inline-block;
        width: 253px;
        height: 49px;
        padding: 7px 20px;
        border-radius: 25px;
        border: solid 1px #dedede;
        background-color: #f7f7f7;
        margin-right: 10px;
        position: relative;

        input[type=text] {
          font-size: 18px;
          color: #1b204c;
          border: 0px none;
          background-color: transparent;
          outline: none;
          font-weight: 600;

          &::placeholder {
            color: #1b204c;
          }
        }

        a.close {
          width: 20px;
          height: 20px;
          background-color: #b6b8dd;
          border-radius: 20px;
          background-image: url('../img/cross.svg');
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 13px;
          right: 5px;
          z-index: 9;
          display: none;
        }

        &.has-keyword {
          a.close {
            display: block;
          }
        }
      }
    }
  }

  .press-releases {
    h6 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.44px;
      color: #a4a6b8;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .items {
    }

    .item {
      //background-image: url("../img/grey-arrow-down.svg");
      background-color: #f9f9fa;
      position: relative;
      background-repeat: no-repeat;
      background-position: top 36px right 22px;
      padding: 16px 66px 16px 25px;
      background-size: 15px;
      margin-bottom: 15px;
      transition: all 250ms ease;

      .arrow {
        background-image: url("../img/grey-arrow-down.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 21px;
        right: 10px;
        cursor: pointer;
        z-index: 2;
      }

      .date {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.44px;
        color: #1b204c;
        float: left;
        margin-right: 30px;
        margin-top: 15px;
        text-transform: uppercase;
      }

      .download {
        border-radius: 3px;
        background-color: #b6b8dd;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.59px;
        text-align: center;
        color: #ffffff;
        display: inline-block;
        text-transform: uppercase;
        padding: 11px 30px;
        float: right;
        margin-left: 30px;
        transition: all 250ms ease;

        &:hover {
          opacity: 0.8;
        }
      }

      h4 {
        font-size: 22px;
        font-weight: 600;
        color: #1b204c;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 6px 0px;
        line-height: 1.6;
      }

      .description {
        overflow: hidden;

        p {
          display: none;
        }
      }

      .included-files {
        display: none;

        h6 {
          font-size: 12px;
        }

        ul {
          list-style: none;
          margin: 0px;

          li {
            a {
              color: #1b204c;
              padding: 5px 0px;
              font-size: 14px;
              text-transform: uppercase;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }

        .file {
          display: inline-block;
          width: 85px;
          height: 120px;
          background-color: #cbccd6;
          vertical-align: top;
          margin-right: 8px;
          border-radius: 7px;
          margin-bottom: 10px;

          .icon {
            width: 44px;
            height: 55px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-top: 25px;
            margin-left: 19px;
          }

          .caption {
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            width: 100%;
            display: block;
            margin-top: 4px;
          }

          &.pdf {
            .icon {
              background-image: url('../img/pdf.svg');
            }

            .caption {
              text-transform: uppercase;
            }
          }

          &.docx {
            .icon {
              background-image: url('../img/docx.svg');
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }

      &:hover:not(.expand) {
        background-color: rgba(249, 249, 250, 0.7);

        .date, h4 {
          opacity: 0.7;
        }
      }

      &.expand {
        padding: 25px 66px 25px 25px;
        position: relative;
        

        .download {
          //margin-right: 35px;
        }

        &:after {
          width: 100%;
          height: 100%;
          display: block;
          content: '';
          background-image: url('../img/white-particles-pattern-horizontal.svg');
          background-repeat: no-repeat;
          position: absolute;
          top: 0px;
          right: 0px;
          transform: rotate(180deg);
          background-position: bottom -60px left -700px;
        }

        .arrow {
          background-image: url("../img/grey-arrow-up.svg");
        }

        h4 {
          padding: 0px;
          white-space: normal;
          margin-bottom: 10px;
        }

        .description {
          width: 100%;
          padding-right: 160px;
          margin-bottom: 30px;

          p {
            display: block;
            margin: 0px;
          }
        }

        .cf {
          position: relative;
          z-index: 9;
        }

        .included-files {
          display: block;
          position: relative;
          z-index: 9;
        }
      }

      &.d-hidden, &.k-hidden {
        display: none;
      }

      &:not(.expand) {
        cursor: pointer;
      }
    }
  }

  @media (max-width:768px)
  {
      .press-releases {
        .item {
          padding-bottom: 30px;
          h4 {
            white-space: normal;
          }
          .description {
            margin-bottom: 10px;
          }

          .download {
            margin-left: 0px;
            float: left;
          }

          .included-files {
            margin-top: 30px;
          }

          &.expand {
            .description {
              padding-right: 0px;
            }
          }
        }
      }
  }

  @media (max-width: 640px) {
    .header {
      .filters {
        width: 100%;
        float: none;
        margin-top: 20px;

        .dropdown {
          width: 100%;
          float: none;
          margin-bottom: 10px;

          select {
            width: 100%;
          }
        }

        .search-field {
          width: 100%;
          float: none;
        }
      }
    }
  }

  @media (max-width:450px)
  {
    .press-releases  {
      .item {
        padding-right: 45px;
        background-position: top 36px right 16px;
      }
    }
  }

  @media (max-width:400px)
  {
    .press-releases {
      .item {
        .date {
          display: block;
          margin-bottom: 20px;
          margin-top: 0px;
          width: 100%;
          margin-right: 0px;
        }
      }
    }
  }
}