.recommended-products-widget {
  margin-top: 60px;
  margin-bottom: 30px;

  h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.54;
    color: #7a84a6;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .items {
    margin: 0px -12px;

    .item {
      float: left;
      width: 33.33%;
      padding: 0px 12px;
      margin-bottom: 25px;

      .thumb-wrapper {
        background-color: #f9f9fa;
        position: relative;
        padding-top: 59.011%;
        height: 0px;
        margin-bottom: 7px;
      }

      .cats {
        width: 59.011%;
        height: 18px;
        position: absolute;
        left: 18px;
        bottom: 0px;
        transform: rotate(-90deg);
        transform-origin: left bottom;

        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 3px;
            transition: all 200ms ease;
          }

          div {
            line-height: 12px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 3px;
            position: relative;
            transition: all 200ms ease;
          }

          &.land {
            &:before {
              background-color: #fbae3b;
            }

            div {
              color: #fbae3b;
            }
          }
          
          &.maritime {
            &:before {
              background-color: #4dc4cf;
            }

            div {
              color: #4dc4cf;
            }
          }
        }

        &.cats-2 {
          > div {
            width: 50%;
            height: 100%;
            top: 0px;

            &:first-child {
              left: 0px;
            }

            &:last-child {
              left: 50%;
            }
          }
        }
      }

      .img {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      h6 {
        font-size: 20px;
        line-height: 1.1;
        color: #2a2a2a;
        font-weight: 400;
      }

      .inner-wrapper:hover {

        .cats {
          > div {
            &:before {
              height: 100%;
            }

            div {
              color: #FFF;
            }
          }
        }
      }
    }
  }
  
  @media (max-width:750px)
  {
      .items {
        .item {
          width: 50%;
        }
      }
  }

  @media (max-width:570px)
  {
    .items {
      .item {
        width: 100%;
      }
    }
  }
}