.recommended-solutions-widget
{
  margin-bottom: 20px;

  h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.54;
    color: #7a84a6;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .wrapper {
    background-color: #f9f9fa;
    padding: 30px 0px;
  }

  .items {
    margin: 0px -8px;

    .item {
      float: left;
      width: 50%;
      padding: 0px 8px;
      margin-bottom: 25px;

      .thumb-wrapper {
        position: relative;
        //padding-top: 50.75%;
        padding-top: 60.152%;
        height: 0px;
        margin-bottom: 8px;

      }

      .cats {
        width: 60.152%;
        height: 18px;
        position: absolute;
        left: 18px;
        bottom: 0px;
        transform: rotate(-90deg);
        transform-origin: left bottom;

        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 3px;
            transition: all 200ms ease;
          }

          div {
            line-height: 12px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 3px;
            position: relative;
            transition: all 200ms ease;
          }

          &.land {
            div {
              color: #fbae3b;
            }
            &:before {
              background-color: #fbae3b;
            }
          }

          &.maritime {
            div {
              color: #4dc4cf;
            }
            &:before {
              background-color: #4dc4cf;
            }
          }
        }

        &.cats-2 {
          > div {
            width: 50%;
            height: 100%;
            top: 0px;

            &:first-child {
              left: 0px;
            }

            &:last-child {
              left: 50%;
            }
          }
        }
      }

      .img {
        position: absolute;
        left: 18px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      h6 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: #1b204c;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      p {
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: normal;
        color: #1b204c;
        margin: 0px;
      }

      &:hover {

        .cats {
          > div {
            &:before {
              height: 100%;
            }

            div {
              color: #FFF;
            }
          }
        }
      }
    }
  }
  
  @media (max-width:600px)
  {
      .items {
        .item {
          width: 100%;
        }
      }
  }
}