.regional-offices-widget {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  margin-bottom: 30px;
  background-color: #fff;

  .regional-map
  {
    max-width: 910px;
    margin: 0px auto;
    position: relative;

    .office-pins {
      a {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('../img/office-bullet.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        transition: all 100ms ease;

        &:hover, &.hover {
          opacity: 0.5;
        }
      }
    }
  }

  .details {
    background-image: linear-gradient(to bottom, rgba(246, 246, 251, 0), #f6f6fb);
    padding-bottom: 40px;
    margin-top: -200px;
    position: relative;
  }

  .text-content {
    max-width: 570px;
    margin-bottom: 42px;

    h2 {
      font-size: 38px;
      font-weight: 700;
      line-height: 1.05;
      color: #1b204c;
      text-transform: uppercase;
    }

    p {
      max-width: 520px;
      margin: 5px 0px;
    }
  }

  .office-links {
    a {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
      border-radius: 3px;
      background-color: #515a79;
      padding: 7px 22px;
      margin-right: 6px;
      transition: all 200ms ease;
      display: inline-block;
      margin-bottom: 10px;
      transition: all 100ms ease;

      &:hover, &.hover {
        opacity: 0.8;
      }
    }
  }

  @media (max-width:1024px)
  {
      .details {
        margin-top: 0px;
      }
  }

  @media (max-width:1024px)
  {
    .details {
      margin-top: 0px;
    }
  }

  @media (max-width:640px)
  {
    .regional-map {
      .office-pins {
        a {
          width: 12px;
          height: 12px;
        }
      }
    }

    .text-content {
      h2 {
        font-size: 22px;
      }
    }
  }
}