.search-result-widget {
  margin-top: 50px;
  margin-bottom: 50px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.43;
    color: #1b204c;
    text-transform: uppercase;
    padding-bottom: 18px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.21);
    margin-bottom: 50px;
  }

  .the-search-form {
    float: right;
    margin-bottom: 30px;

    input[type=text] {
      width: 250px;
      line-height: 30px;
      border-radius: 24.5px;
      padding: 9px 20px;
      outline: none;
      font-size: 16px;
      border: solid 1px #dedede;
      background-color: #f7f7f7;
      color: #1b204c;
    }

    input[type=submit]
    {
      background: #b6b8dd;
      height: 48px;
      width: 100px;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 30px;
      cursor: pointer;
      border: 0px none;
      color: #FFF;
      outline: none;
    }
  }

  .items {
    .item {
      background-color: #f8f9fb;
      display: block;
      position: relative;
      padding: 10px 100px 10px 10px;
      margin-bottom: 10px;
      transition: all 250ms ease;


      .img {
        width: 77px;
        height: 46px;
        background-color: #CCC;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        margin-right: 25px;
      }

      .title {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: normal;
        color: #1b204c;
        overflow-x: hidden;
        padding: 8px 0px;
      }

      .other {
        font-size: 16px;
        text-align: right;
        color: #1b204c;
        float: right;
        padding: 8px 0px;
      }

      &:after {
        content: '';
        display: block;
        background-image: url('../img/light-blue-solid-arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 20px;
        width: 10px;
        height: 8px;
        background-size: cover;
        transform: rotate(-90deg);
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .no-result {
    color: #1B204C;
    font-size: 16px;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 30px;
  }

  .pagination
  {
    float: right;

    ul {
      list-style: none;
      li {
        display: inline-block;
        vertical-align: top;

        a {
          width: 40px;
          height: 40px;
          display: block;
          background-color: #ebedfe;
          color: #1B204C;
          line-height: 40px;
          text-align: center;
          font-weight: 600;

          &.next, &.prev {
            position: relative;

            &:after {
              background: url('../img/dark-blue-arrow-down.svg');
              background-position: center;
              background-repeat: no-repeat;
              display: block;
              width: 100%;
              height: 100%;
              content: '';
              position: absolute;
              top: 0px;
              left: 0px;
            }
          }

          &.next {
            &:after {
              transform: rotate(-90deg);
            }
          }

          &.prev {
            &:after {
              transform: rotate(90deg);
            }
          }

          &.active {
            background-color: #b6b8dd;
            color: #FFF;
          }
        }
      }
    }
  }

  @media (max-width:1120px)
  {
      .items {
        .item {
          padding-left: 15px;
        }
      }
  }
  
  @media (max-width:750px)
  {
      .items {
        .item {
          .title {
            padding: 0px;
          }
          .other {
            float: left;
            padding: 0px;
            text-align: left;
          }
        }
      }
  }

  @media (max-width:640px)
  {
    .items {
      .item {
        padding-right: 30px;

        &:after {
          right: 15px;
        }
      }
    }
  }

  @media (max-width:640px)
  {
    .items {
      .item {
        .title {
          padding: 9px 0px;
        }
        .other {
          padding-top: 8px;
        }
      }
    }
  }

  @media (max-width:400px)
  {
      .the-search-form {
        float: none;
        width: 100%;
        input[type=text] {
          margin-bottom: 10px;
          display: block;
          width: 100%;
        }
      }
  }
}