.solutions-products-listing-widget
{
  margin-bottom: 10px;
  position: relative;

  .filters-form {
    margin-bottom: 55px;
    background-color: #dedeef;
    position: relative;
    padding: 35px 0px 25px;

    h3 {
      font-size: 34px;
      font-weight: 700;
      line-height: 1.03;
      color: #1b204c;
      max-width: 410px;
      float: left;
      text-transform: uppercase;
    }

    .search-field {
      width: 253px;
      height: 49px;
      border-radius: 24.5px;
      background-color: #d1d1e0;
      padding: 9px 20px;
      float: right;
      margin-top: 12px;
      position: relative;

      input[type=text] {
        font-size: 18px;
        color: #1b204c;
        border: 0px none;
        background-color: transparent;
        outline: none;

        &::placeholder {
          color: #1b204c;
        }
      }

      a.close {
        width: 20px;
        height: 20px;
        background-color: #b6b8dd;
        border-radius: 20px;
        background-image: url(../img/cross.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 15px;
        right: 6px;
        z-index: 9;
        display: none;
      }

      &.has-keyword {
        a.close {
          display: block;
        }
      }
    }

    .filters {
      margin-top: 12px;
      text-align: justify;

      h6 {
        font-size: 13px;
        color: #9494a0;
        text-transform: uppercase;
        margin-bottom: 23px;
        margin-top: 23px;
        font-weight: 400;
      }

      .col {
        //float: left;
        display: inline-block;
        vertical-align: top;

        &.first {
          width: 218px;
        }

        &.second {
          width: 295px;
        }

        &.third {
          width: 330px;
        }
      }

      &:after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }

    .toggle-field {
      margin: 11px 0px;

      input[type=checkbox] {
        display: none;

        &:checked {
          ~ label {
            .switch {
              background-color: #c8c8dd;

              &:after {
                left: 0px;
                background-color: #36374a;
              }
            }

            .text {
              color: #1b204c;
              //font-weight: 600;
            }
          }
        }
      }

      .switch {
        width: 28px;
        height: 16px;
        border-radius: 10px;
        background-color: #d1d1e0;
        position: relative;
        float: left;
        margin-right: 8px;
        margin-top: 2px;

        &:after {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          background-color: #b4b4ce;
          position: absolute;
          left: 12px;
          transition: all 200ms ease;
        }
      }

      .text {
        font-size: 16px;
        color: #6f6f77;
        overflow: hidden;
        line-height: 1.2;
      }
    }

    .toggle-fields-row {
      line-height: 1;

      .toggle-field {
        //display: inline-block;
        margin: 5px 0px;
        float: left;
        width: 50%;

        &:last-child {
          margin-right: 0px;
        }

        &.full {
          width: 100%;
        }
      }
    }

    .separator {
      width: 100%;
      height: 0px;
      border-bottom: solid 1px #ccccde;
      margin: 9px 0px;

      + .toggle-field {
        margin-top: 21px;
      }
    }
  }

  .items {
    margin: 0px -12px;

    .item {
      float: left;
      width: 33.33%;
      padding: 0px 12px;
      margin-bottom: 25px;

      .thumb-wrapper {
        background-color: #f9f9fa;
        position: relative;
        padding-top: 59.011%;
        height: 0px;
        margin-bottom: 7px;
      }

      .cats {
        width: 59.011%;
        height: 18px;
        position: absolute;
        left: 18px;
        bottom: 0px;
        transform: rotate(-90deg);
        transform-origin: left bottom;

        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 3px;
            transition: all 200ms ease;
          }

          div {
            line-height: 12px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 3px;
            position: relative;
            transition: all 200ms ease;
          }

          &.land {
            &:before {
              background-color: #fbae3b;
            }

            div {
              color: #fbae3b;
            }
          }

          &.maritime {
            &:before {
              background-color: #4dc4cf;
            }

            div {
              color: #4dc4cf;
            }
          }
        }

        &.cats-2 {
          > div {
            width: 50%;
            height: 100%;
            top: 0px;

            &:first-child {
              left: 0px;
            }

            &:last-child {
              left: 50%;
            }
          }
        }
      }

      .img {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
      }

      h6 {
        font-size: 20px;
        line-height: 1.1;
        color: #2a2a2a;
        font-weight: 400;
      }

      .inner-wrapper:hover {

        .cats {
          > div {
            &:before {
              height: 100%;
            }

            div {
              color: #FFF;
            }
          }
        }
      }

      &.product {
        .img {
          left: 20px;
          right: 20px;
          top: 20px;
          bottom: 20px;
          background-size: contain;
        }
      }

      &.solution {
        .img {
          left: 18px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          background-size: cover;
        }
      }
    }
  }

  .loading-overlay {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.8);
    padding-top: 200px;
  }

  .load-more {
    text-align: center;
    margin-top: 30px;
    a {
      background: #1b204c;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #FFF;
      text-transform: uppercase;
      padding: 15px 25px;
      line-height: 1;
      display: inline-block;
      border-radius: 3px;

      &:hover {
        opacity: 0.8;
      }
    }

    .loader {
      display: none;
    }

    &.loading {
      a {
        display: none;
      }
      .loader {
        display: block;
      }
    }
  }

  .no-results
  {
    display: none;
    font-size: 16px;
    text-align: center;
  }

  &.no-more {
    .load-more {
      display: none;
    }
  }

  &.no-results {
    .no-results {
      display: block;
    }
  }

  &.loading {
    .loading-overlay {
      display: block;
    }
  }
  
  @media (max-width:900px)
  {
      .filters-form {
        .filters {
          margin: 0px -15px;

          .col {
            float: none;
            display: none;
            width: 100% !important;
          }

          .filters-group
          {
            width: 50%;
            float: left;
            padding: 0px 15px;

            &.first {
              .toggle-field {
                width: 50%;
                float: left;
              }
            }
          }
        }

        .toggle-field {
          margin: 5px 0px;
        }

        .separator {
          + .toggle-field {
            margin-top: 5px;
          }
        }
      }
  }

  @media (max-width:750px)
  {
    .items {
      .item {
        width: 50%;
      }
    }
  }

  @media (max-width:640px)
  {
      .filters-form {
        h3 {
          font-size: 22px;
          line-height: 26px;
        }

        .head-wrapper {
          margin-bottom: 20px;
        }
      }
  }

  @media (max-width:580px)
  {
    .filters-form {
      .filters {
        font-size: 0px;
        margin: 0px;

        h6 {
          font-size: 16px;
          margin: 8px 0px;
          position: relative;
          transition: all 250ms ease;

          &:after {
            content: '';
            display: block;
            background-image: url('../img/grey-solid-arrow-down.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 9px;
            right: 10px;
            opacity: 0.8;
            transition: all 250ms ease;
          }
        }

        .filters-group {
          width: 100%;
          padding: 0px;
          border-bottom: 1px solid rgba(151, 151, 151, 0.2);

          .toggle-fields-wrapper {
            max-height: 0px;
            overflow: hidden;
            transition: all 250ms ease;
            opacity: 0;
            visibility: hidden;
          }

          &:last-child {
            border-bottom: 0px none;
          }

          &.expand {
            .toggle-fields-wrapper {
              opacity: 1;
              visibility: visible;
              max-height: 500px;
              padding: 10px 0px 30px;
            }

            h6 {
              font-size: 25px;
              text-transform: uppercase;
              color: #1B204C;
              font-weight: 600;

              &:after {
                top: 16px;
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      .search-field {
        width: 100%;
      }
    }
  }

  @media (max-width:570px)
  {
    .items {
      .item {
        width: 100%;
      }
    }
  }
}