.tab-links-widget {
  margin-bottom: 45px;

  .links {
    a {
      float: left;
      //background-color: rgba(230, 232, 242, 0.90);
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      color: #7a84a6;
      padding: 16px 15px;

      &:nth-child(2n+1) {
        background-color: rgba(230, 232, 242, 0.90);
      }

      &:nth-child(2n+2) {
        background-color: rgba(230, 232, 242, 0.70);
      }

      &.active {
        background-color: #fff;
        color: #000000;
      }

      &:hover:not(.active) {
        opacity: 0.6;
        color: #1b204c;
      }
    }
  }

  &.links-3 {
    .links {
      a {
        width: 33.33%;
      }
    }
  }

  &.links-2 {
    .links {
      a {
        width: 50%;
      }
    }
  }
  
  
  @media (max-width:960px)
  {
      .links {
        a {
          font-size: 18px;
          padding: 10px;
        }
      }
  }

  @media (max-width:640px)
  {
    margin-bottom: 30px !important;

    .links {
      a {
        font-size: 16px;
        padding: 10px;
      }
    }
  }

  @media (max-width:480px)
  {
    .links {
      background-color: rgba(230, 232, 242, 0.9);
      a {
        display: block;
        float: none;
        padding: 5px;
      }
    }

    &.links-3, &.links-2 {
      .links {
        padding: 10px;
        a {
          width: auto;
        }
      }
    }
  }
}