.text-content-widget {
  //max-width: 1044px;
  margin: 0px auto 30px;

  .container {
    overflow-x: initial;
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1b204c;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 38px;
    font-weight: 700;
    color: #1b204c;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.03;
    color: #1b204c;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.23;
    color: #7a84a6;
    text-transform: uppercase;
  }

  h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #1b204c;
    text-transform: uppercase;
  }

  h6 {
    font-size: 20px;
    line-height: 1.2;
    color: #1b204c;
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .content {
    max-width: 796px;

    p {
      line-height: 1.69;
    }

    ul {
      list-style: disc;
      padding-left: 30px;
    }

    ol {
      padding-left: 30px;
    }

    &.columns-2 {
      max-width: 100%;

      .columns {
        column-count: 2;
        column-gap: 30px;

        p {
          padding: 20px 0px;
          margin: 0px;
        }
      }
    }
  }

  p {
    max-width: 715px;

    + h3, + h4 {
      margin-top: 55px;
    }
  }

  table {
    max-width: 100%;
  }

  ul {
    list-style: disc;
    padding-left: 30px;
  }

  ol {
    padding-left: 30px;
  }

  @media (max-width: 960px) {

    h1 {
      font-size: 38px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 28px;
    }

    h4 {
      font-size: 22px;
    }
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }

    h5, h6 {
      font-size: 18px;
    }
  }

  @media (max-width: 540px) {
    .content {
      &.columns-2 {
        .columns {
          column-count: 1;
          column-gap: 0px;
        }
      }
    }
  }
}