.ticketing-system-ctas-group-widget {
  //max-width: 1042px;
  margin: 60px auto 50px;
  position: relative;

  .items {
    margin: 0px -25px;

    .item {
      padding: 0px 25px;
      float: left;
      width: 50%;
      margin-bottom: 20px;

      .content {
        padding: 50px 34px;
        background-color: #dbdde9;
      }

      .icon {
        text-align: center;
        margin-bottom: 40px;
      
        img {
          margin: 0px auto;
          display: inline-block;
        }
      }

      h3 {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: normal;
        color: #1b204c;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
      }

      h6 {
        font-size: 15px;
        color: #515a79;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
      }

      p {
        opacity: 0.7;
        line-height: 1.56;
        letter-spacing: normal;
        color: #414145;
        margin: 10px 0px;
      }

      .links {
        text-align: center;

        a {
          display: inline-block;
          height: 45px;
          border-radius: 3px;
          background-color: #515a79;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          margin-bottom: 15px;
          padding: 7px 20px;
          white-space: nowrap;
        

          &:hover {
            opacity: 0.7;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      &.alt {
        .content {
          background-color: #f0ece6;
        }

        .links {
          a {
            background-color: #b5ab9a;
          }
        }

        p {
          color: #4c4b49;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .items {
      margin: 0px -10px;
      .item {
        padding: 0px 10px;
      }
    }
  }

  @media (max-width: 640px) {
    

    .items {
      .item {
        float: none;
        width: 100%;
        max-width: 420px;
        margin: 0px auto 20px;

        .content {
          padding: 40px 20px;
        }
      }
    }
  }


  
}