.vacancies-widget {
  margin-bottom: 50px;

  select {
    font-size: 18px;
    font-weight: 600;
    color: #1b204c;
    padding: 13px 40px 14px 18px;
    appearance: none;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(97, 97, 97, 0.12);
    border: solid 2px #515a79;
    background-color: #ffffff;
    outline: none;
    background-image: url("../img/dark-blue-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: top 20px right 15px;
  }

  /*#location {
    width: 300px;
  }*/

  .filters {
    margin-bottom: 78px;
  }

  .item {
    background-color: #f9f9fa;
    padding: 22px 30px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;

    a.close {
      width: 30px;
      height: 30px;
      background-color: #b6b8dd;
      border-radius: 20px;
      background-image: url("../img/cross.svg");
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      top: 12px;
      right: 15px;
      z-index: 9;
      display: none;
    }

    .columns {
      position: relative;
      z-index: 1;
    }

    .header {
      h3 {
        float: left;
        font-size: 22px;
        font-weight: 600;
        color: #1b204c;
        line-height: 1.2;
      }

      .location {
        float: right;
        font-size: 14px;
        letter-spacing: 0.44px;
        text-align: right;
        color: #1b204c;
        text-transform: uppercase;
        margin-top: 2px;
      }
    }

    .form {
      display: none;
      max-width: 315px;
      width: 100%;
      margin-left: 88px;
      float: right;

      h6 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.67px;
        color: #1b204c;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      .form-field {
        //border-bottom: 2px solid #caccdf;
        margin-bottom: 10px;

        &.no-border {
          //border-bottom: 0px none;
        }

        &.field-invalid {
          //border-bottom: 2px solid #d52114;
        }
      }

      input[type="text"],
      input[type="email"] {
        max-width: 316px;
        width: 100%;
        height: 49px;
        border-radius: 3px;
        background-color: #dcdfea;
        font-size: 18px;
        color: #54618c;
        padding: 18px 15px;
        border: 0px none;
        box-shadow: none;
        outline: 0;

        &::placeholder {
          color: #54618c;
        }
      }

      .file-upload {
        input[type="file"] {
          display: none;
        }

        label {
          border-radius: 3px;
          border: solid 2px rgba(122, 132, 166, 0.23);
          background-color: #dcdfea;
          line-height: 45px;
          display: block;
          font-size: 15px;
          font-weight: 600;
          text-align: center;
          color: #54618c;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
      }

      .field-invalid {
        input[type="text"],
        input[type="email"],
        label {
          background-color: #ffc3c3;
        }
      }

      input[type="submit"] {
        display: block;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.92px;
        text-align: center;
        color: #ffffff;
        border-radius: 3px;
        background-color: #b6b8dd;
        width: 100%;
        line-height: 48px;
        text-transform: uppercase;
        outline: 0;
        border: 0px none;
        margin-top: 60px;
      }
    }

    form {
      position: relative;

      .error {
        font-size: 18px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #a84e4e;
        text-align: left;
        display: none;

        /* ul {
          text-align: left;
          padding-left: 30px;
        }

        a {
          display: block;
          font-size: 16px;
        } */
      }

      .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: none;
        padding: 0px 40px;
        z-index: 3;
      }

      .loader {
        margin: -23px auto 0px;
        top: 50%;
        border-color: rgba(27, 32, 76, 0.38);
        border-left-color: rgb(27, 32, 76);
        display: none;
      }

      &.loading {
        .overlay {
          display: block;
        }

        .form-fields {
          opacity: 0.1;
        }

        .loader {
          display: block;
        }
      }

      /* &.success {
        .overlay {
          display: block;
        }

        .success {
          display: block;
        }
      } */

      &.error {
        /* .overlay {
          display: block;
        } */

        .error {
          display: block;
        }
      }
    }

    .details {
      overflow: hidden;
    }

    .description {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &.expand {
      padding: 40px;
      background-color: #eeeff6;
      position: relative;
      cursor: initial;

      &:after {
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background-image: url("../img/white-particles-pattern-horizontal.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: rotate(180deg);
        background-position: bottom -60px left -700px;
      }

      a.close {
        display: block;
      }

      .header {
        h3 {
          float: none;
          margin-bottom: 0px;
          font-size: 28px;
          font-weight: 600;
          color: #1b204c;
          margin-bottom: 12px;
        }

        .location {
          float: none;
          text-align: left;
          font-size: 12px;
          margin-bottom: 20px;
        }
      }

      .form {
        display: block;
      }

      .description {
        display: block;
        overflow: hidden;
      }

      &:hover {
        opacity: 1;
      }
    }

    &.hidden {
      display: none;
    }
  }

  .no-results-note {
    //@at-root: 18px;
    display: none;
    text-align: center;
    margin: 0px auto;
    padding: 80px 20px;
    background-color: #f8f8fa;

    p {
      color: #1b204c;
      margin: 5px 0px;

      &.lead {
        font-size: 22px;
        font-weight: 700;
      }
    }
  }

  &.no-results {
    .no-results-note {
      display: block;
    }
  }

  @media (max-width: 1024px) {
    .item {
      .form {
        margin-left: 30px;
      }
    }
  }

  @media (max-width: 768px) {
    .item {
      padding-left: 20px;
      padding-right: 20px;

      .form {
        float: none;
        margin-left: 0px;

        input[type="submit"] {
          margin-top: 30px;
        }
      }

      &.expand {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;

        .header {
          .location {
            margin-bottom: 10px;
          }

          h3 {
            padding-right: 30px;
          }
        }

        .details {
          margin-bottom: 10px;
        }
      }
    }

    .filters {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 30px;

    .item {
      margin-left: -20px;
      margin-right: -20px;

      .header {
        h3 {
          font-size: 18px;
        }

        .location {
          margin-top: 0px;
        }
      }

      &.expand {
        .header {
          h3 {
            font-size: 20px;
          }
        }
      }
    }

    .no-results-note {
      padding-top: 70px;
      padding-bottom: 70px;

      p {
        max-width: 400px;
        margin: 5px auto;
        &.lead {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .item {
      padding-bottom: 20px;

      .header {
        h3 {
          float: none;
          margin-bottom: 5px;
        }

        .location {
          float: none;
          text-align: left;
        }
      }
    }
  }
}
