.value-added-services-widget {
  margin: 40px 0px;
  .items {
    margin: 0px -7px;

    .item {
      width: 50%;
      float: left;
      padding: 0px 7px;
      margin-bottom: 15px;


      &.full {
        width: 100%;
      }

      .inner-wrapper {
        height: 260px;
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        border: 1px solid #CCC;

        &:after, &:before {
          position: absolute;
          top: 0px;
          right: 0px;
          left: 0px;
          bottom: 0px;
          content: '';
          display: block;
          transition: all 250ms ease;
        }

        &:before {
          //background-image: linear-gradient(90deg, rgba(122, 132, 166, 0.59) 25%, rgba(122, 132, 166, 0) 82%);
          background-image: linear-gradient(90deg, rgba(255,255,255, 0.59) 25%, rgba(255,255,255, 0) 82%);
        }

        &:after {
          background-image: linear-gradient(90deg, #FFF 12%, rgba(255,255,255, 0) 79%);
        }

        &:hover {
          &:before, &:after {
            opacity: 0.8;
          }

          /*&:before {
            background-image: linear-gradient(90deg, rgba(170, 177, 214, 0.6) 25%, rgba(122, 132, 166, 0) 82%);
          }

          &:after {
            background-image: linear-gradient(90deg, #aab1d6 12%, rgba(146, 153, 188, 0) 79%);
          }*/

          h6 {
            //padding-right: 45px;
            &:after {
              margin-left: 30px;
            }
          }
        }
      }

      .overlay {
        //max-width: 382px;
        max-width: 405px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-left: 28px;
        padding-right: 20px;
        padding-bottom: 28px;
        text-align: left;
        z-index: 9;
      }

      h6 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.5px;
        text-align: left;
        color: #1b204c;
        //padding-right: 30px;
        text-transform: uppercase;
        /*background-image: url('../img/blue-line-arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center right;*/
        display: inline-block;
        margin-bottom: 10px;
        transition: all 250ms ease;
        white-space: nowrap;

        &:after {
          content: '';
          display: inline-block;
          background-image: url('../img/blue-line-arrow-right.svg');
          background-repeat: no-repeat;
          background-position: center right;
          width: 15px;
          height: 15px;
          margin-left: 15px;
          transition: all 250ms ease;
        }
      }

      p{
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: normal;
        color: #1b204c;
        margin: 0px;
      }
    }
  }

  @media (max-width:640px)
  {
      .items {
        .item {
          width: 100%;

          .overlay {
            padding-left: 20px;
          }
        }
      }
  }

  @media (max-width:500px)
  {
      .items {
        .item {
          h6 {
            white-space: normal;
          }
        }
      }
  }
}