.vertical-markets-widget {
  margin: 20px 0px 40px;

  h3 {
    margin-left: 40px;
    font-size: 24px;
    //font-family: 'Myriad Pro Bold';
    font-weight: 700;
    line-height: 1.54;
    color: #7a84a6;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }

  .items {

    .overlay {
      position: absolute;
      top: 100%;
      bottom: 0px;
      z-index: 2;
      width: 100%;
      padding: 30px 50px 0px;
      text-align: left;
      background-color: rgba(122, 132, 166, 0);
      margin-top: -100px;
      transition: all 350ms ease;

      &:after {
        content: '';
        display: block;
        width: 240px;
        position: absolute;
        top: 0px;
        right: 0px;
        background-image: url('../img/particles-pattern-diagnal.svg');
        height: 100%;
        background-size: 600px;
        background-position: top -126px right -30px;
        transition: all 200ms ease;
        opacity: 0;
      }

      .primary-link {
        /*min-width: 250px;
        height: 55px;*/
        /*border-radius: 3px;
        box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.04);
        background-color: #e4e5ed;*/
        display: inline-block;
        line-height: 1.5;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0.36px;
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        //padding: 9px 20px;
        transition: all 200ms ease;
        /*position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -125px;*/
        margin-bottom: 50px;

        &:hover {
          opacity: 0.7;
          /*background-color:#c5cee5;
          letter-spacing: 1px;

          &:after {
            margin-left: 30px;
          }*/
        }

        /*&:after {
          content: '';
          display: inline-block;
          width: 22px;
          height: 30px;
          background-image: url('../img/dark-blue-line-arrow-right.svg');
          background-repeat: no-repeat;
          background-position: top 7px center;
          background-size: 22px;
          margin-left: 15px;
          opacity: 0.5;
          position: relative;
          top: -1px;
          transition: all 250ms ease;
          vertical-align: middle;
        }*/
      }

      .secondary-links {
        width: 90%;
        max-width: 250px;
        margin: 0px auto 0px 0px;
        overflow: hidden;
        max-height: 0px;
        transition: all 300ms ease;
        position: relative;
        z-index: 999;

        a {
          font-size: 18px;
          font-weight: 600;
          color: #ffffff;
          text-transform: uppercase;
          transition: all 200ms ease;
          white-space: nowrap;
          display: inline-block;
          float: left;
          margin-bottom: 20px;

          &:nth-child(2n+2) {
            margin-left: 65px;
          }

          .icon {
            height: 44px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 5px;
            opacity: 0.8;
          }

          &:hover {
            //color: #FFFFFF;
            opacity: 0.6;
          }
        }
      }
    }

    .item {
      float: left;
      width: 50%;
      height: 350px;
      background-position: center;
      background-size: cover;
      position: relative;
      overflow: hidden;

      &.secondary-links-5 {
        .overlay {
          .secondary-links {
            max-width: 350px;
            width: 350px;

            a:nth-child(1)
            {
              margin-left: 5px;
            }

            a:nth-child(2)
            {
              margin-left: 50px;
              margin-right: 30px;
            }

            a:nth-child(4) {
              margin-left: 32px;
            }

            a:nth-child(5) {
              margin-left: 34px;
            }
          }
        }
      }

      &.secondary-links-4 {
        .overlay {
          .secondary-links {
            a {
              &:nth-child(3) {
                margin-left: 4px;
              }
            }
          }
        }
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 192px;
        opacity: 0.6;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
        position: absolute;
        bottom: 0px;
        z-index: 1;
      }

      &:hover, &.hover {
        .overlay {
          background-color: rgba(122, 132, 166, 0.83);
          top: 0px;
          margin-top: 0px;

          &:after {
            opacity: 1;
          }

          .primary-link {
            font-size: 36px;
          }

          .secondary-links {
            max-height: 800px;
          }
        }
      }
    }
  }
  
  @media (max-width:1140px)
  {
    .items {
      .overlay {
        padding-left: 30px;

        &:after {
          right: -100px;
        }
      }
    }
  }
  
  @media (max-width:940px)
  {
      .items {
        .overlay {
          &:after {
            transform: rotate(-45deg);
            top: -58px;
            right: -80px;
          }
        }
      }
  }

  @media (max-width:768px)
  {
      h3 {
        margin-left: 0px;
      }

    .items {
      .overlay {
        .secondary-links {
          width: 100%;
          a{
            &:nth-child(2n+2) {
              &:after{
                //content: none;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width:760px)
  {
    .items {
      .item {
        width: 100%;
      }
    }
  }
  
  @media (max-width:420px)
  {
    .items {
      .item{
        &:hover, &.hover {
          .overlay {
            .primary-link {

            }
          }
        }
      }
    }
  }
  
  @media (max-width:400px)
  {
      .items {
        .item {
          &.secondary-links-5 {
            .overlay {
              padding-top: 20px;

              &:after {
                right: -105px;
              }

              .primary-link {
                margin-bottom: 20px;
              }

              .secondary-links {
                max-width: 300px;
                width: 300px;

                 a {
                   font-size: 16px;

                   .icon {
                     height: 32px;
                   }

                   &:nth-child(2)
                   {
                     margin-left: 46px;
                   }

                   &:nth-child(5)
                   {
                     margin-left: 32px;
                   }
                 }
              }
            }
          }
        }
      }
  }
  
  @media (max-width:380px)
  {
      .items {
        .overlay {
          .primary-link {
            top: 180px;
          }
        }
      }
  }

  .touch & {
    .items {
      .overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        z-index: 2;
        width: 100%;
        padding: 0px 20px;
        text-align: center;
        margin-top: 0px;

        .primary-link {
          min-width: 250px;
          height: 55px;
          border-radius: 3px;
          box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.04);
          background-color: #e4e5ed;
          display: inline-block;
          line-height: 1.5;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 0.36px;
          text-align: center;
          color: #1b204c;
          text-transform: uppercase;
          padding: 9px 20px;
          transition: all 250ms ease;
          position: absolute;
          bottom: 50px;
          left: 50%;
          margin-left: -125px;
          margin-bottom: 0px;

          &:hover {
            background-color:#c5cee5;
            letter-spacing: 1px;

            &:after {
              margin-left: 30px;
            }
          }

          &:after {
            content: '';
            display: inline-block;
            width: 22px;
            height: 30px;
            background-image: url('../img/dark-blue-line-arrow-right.svg');
            background-repeat: no-repeat;
            background-position: top 7px center;
            background-size: 22px;
            margin-left: 15px;
            opacity: 0.5;
            position: relative;
            top: -1px;
            transition: all 250ms ease;
            vertical-align: middle;
          }
        }

        .secondary-links {
          display: none;
          /*width: 90%;
          max-width: 500px;
          min-height: 66px;
          margin: 0px auto;
          position: absolute;
          bottom: 20px;
          left: 0px;
          right: 0px;
          overflow: hidden;

          a {
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            text-transform: uppercase;
            padding: 0px 20px;
            transition: all 200ms ease;
            text-align: center;
            white-space: nowrap;
            margin-left: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 5px !important;
            float: none;

            .icon {
              display: none;
            }

            div {
              display: inline;
            }

            &:hover {
              color: #b4c3ef;
            }

            &:after {
              content: url('../img/bullet-icon.svg');
              position: relative;
              right: -22px;
            }

            &:last-child {
              &:after {
                content: none;
              }
            }
          }*/
        }

        &:after {
          display: none;
        }
      }

      .item {
        /*.overlay {
          .secondary-links {
            max-width: 500px;
            width: 90%;
          }
        }*/

        &:hover, &.hover {
          .overlay {
            background-color: transparent;
            .primary-link {
              font-size: 24px;
            }
          }
        }
      }
    }

    @media (max-width:768px)
    {
      /*.items {
        .overlay {
          .secondary-links {
            width: 100%;
          }
        }
      }*/
    }

    @media (max-width:678px)
    {
      .items {
        .item {
          width: 100%;
        }
      }
    }

    @media (max-width:380px)
    {
      .items {
        .overlay {
          .primary-link {
            top: auto;
            bottom: 30px;
          }
        }
      }
    }
  }
}